<div class="pick-up-layout">
  <div class="left-layout">
    <nz-collapse [nzBordered]="false">
      <nz-collapse-panel
        #header
        nzHeader="Filter"
        [nzActive]="true"
        [ngStyle]="{
          'background': '#f7f7f7',
          'border-radius': '4px',
          'margin-bottom': '24px',
          'border': '0px'
        }"
        [nzExpandedIcon]="'double-right'"
      >
        <div>
          <form class="filter-form" [formGroup]="filterFG" (submit)="onFilter()">
            <!-- Full name -->
            <nz-form-item>
              <nz-form-label [nzXl]="{span: 4}" [nzXs]="{span: 7}">Name</nz-form-label>
              <nz-form-control [nzXl]="{span: 14}" [nzXs]="{span: 17}" nzHasFeedback>
                <input nz-input formControlName="fullName" placeholder="Cusomter's name" type="text"/>
              </nz-form-control>
            </nz-form-item>

            <!-- Phone number -->
            <nz-form-item>
              <nz-form-label [nzXl]="{span: 4}" [nzXs]="{span: 7}">Phone</nz-form-label>
              <nz-form-control [nzXl]="{span: 14}" [nzXs]="{span: 17}" nzHasFeedback>
                <input nz-input formControlName="phoneNumber" placeholder="Cusomter's phone number" type="text" />
              </nz-form-control>
            </nz-form-item>

            <nz-form-item>
              <nz-form-control class="search-btn-area" [nzXl]="{span: 18}" [nzXs]="{span: 24}">
                <button
                  nz-button [nzLoading]="(adminActionsObs | async)!.length > 0"
                  nzType="primary" [disabled]="!filterFG.valid || !filterFG.dirty"
                >Search
                </button>
              </nz-form-control>
            </nz-form-item>
          </form>
        </div>
        <ng-template #expandedIcon let-active>
          {{ active }}
          <i nz-icon nzType="caret-right" class="ant-collapse-arrow" [nzRotate]="header.nzActive ? 90 : -90"></i>
        </ng-template>
      </nz-collapse-panel>
    </nz-collapse>

    <!-- Search result -->
    <div *ngIf="adminOrders" class="search-result-area">
      <div style="text-align: center; font-weight: 500; margin-bottom: 16px;">LIST PICK UP ORDER</div>
      <cdk-virtual-scroll-viewport class="search-result-viewport" itemSize="73" (scrolledIndexChange)="handler($event)">
        <nz-list>
          <nz-list-item class="list-item" [ngClass]="{'item-selected': order.id == selectedId}" *cdkVirtualFor="let order of adminOrders.payload; let index = index">
            <nz-skeleton *ngIf="!order" [nzAvatar]="true" [nzParagraph]="{ rows: 1 }"></nz-skeleton>
            <nz-list-item-meta *ngIf="order && order.account" (click)="itemClick(order.id)"
              nzAvatar="https://zos.alipayobjects.com/rmsportal/ODTLcjxAfvqbxHnVXCYX.png"
              [nzDescription]="(order.pickupTime | customDate) + ' - ' + order.totalPrice"
            >
              <nz-list-item-meta-title>
                {{order.account.firstname || '' + ' - ' + order.account.phoneNumber1 || ''}}
              </nz-list-item-meta-title>
            </nz-list-item-meta>
          </nz-list-item>
        </nz-list>
      </cdk-virtual-scroll-viewport>
    </div>
  </div>
  <div class="right-layout">
    <div class="title">ORDER INFORMATION</div>
    <div *ngIf="pickUpOder" class="order-detail">
      <div class="cus-info">
        <div>Customer: {{pickUpOder.account.firstname + ' ' + pickUpOder.account.lastname}}</div>
        <div>Phone: {{pickUpOder.account.phoneNumber1}}</div>
        <div>Pick-up time:  {{pickUpOder.pickupTime | customDate}}</div>
      </div>
      <div class="order-item-list">
        <div class="order-item-header">
          <div class="item-name-header">Name</div>
          <div class="item-quantity-header">Quantity</div>
          <div class="price-header">Price</div>
        </div>
        <div class="order-item" *ngFor="let item of pickUpOder.orderDetails; last as isLast">
          <div class="item-name">{{item.productName + ' ' + item.servingName}}</div>
          <div class="item-quantity">{{item.quantity}}</div>
          <div class="price">{{item.price * item.quantity}} &#8364;</div>
        </div>
      </div>
      <div class="total">
        <div class="total-title">Total</div>
        <div class="price">{{pickUpOder.totalPrice}} &#8364;</div>
      </div>
    </div>

    <div *ngIf="isDiplayLoading()" class="loading">
      <nz-spin [nzSize]="'large'" nzSimple></nz-spin>
    </div>
  </div>
</div>
