<div class="home" [ngClass]="{'noscroll': menuOpen}">
  <!-- header -->
  <div class="header">
    <div class="menu-title">
      <app-landing-title type="2" title="TAKE AWAY" color="#f3eacd"></app-landing-title>
    </div>
  </div>

  <app-cart-button></app-cart-button>
  <app-menu-button (isMenuOpen)="menuOpen = $event" [isDisplayBackground]="true"></app-menu-button>

  <div class="checkout-section">

    <!-- Back button -->
    <div class="back-button-section">
      <div class="back-button">
        &lt;&lt; BACK
      </div>
    </div>

    <!-- Register section -->
    <div class="customer-register-section">
      <div class="customer-register-area">
        <!-- Login area -->
        <div class="login-area">
          <div class="login-area-title">Already registered?</div>
          <form class="login-form" [formGroup]="loginFormGroup">
            <mat-form-field class="email-field" appearance="fill">
              <mat-label>Email address</mat-label>
              <input type="email" matInput [formControl]="emailFormControl" placeholder="Ex. pat@example.com">
              <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                Please enter a valid email address
              </mat-error>
              <mat-error *ngIf="emailFormControl.hasError('required')">
                Email is <strong>required</strong>
              </mat-error>
            </mat-form-field>
            <mat-form-field class="password-field" appearance="fill">
              <mat-label>Password</mat-label>
              <input type="password" matInput [formControl]="passwordFormControl" placeholder="Ex. 123456">
              <mat-error *ngIf="passwordFormControl.hasError('required')">
                Password is <strong>required</strong>
              </mat-error>
            </mat-form-field>
            <div class="forgot-password">Forgot your password?</div>
            <button class="login-btn">SIGN IN</button>
          </form>
        </div>

        <!-- Register area -->
        <div class="register-area">
          <div class="register-area-title">New customer?</div>
          <form class="register-form" [formGroup]="registerFormGroup">
            <!-- First name -->
            <mat-form-field class="email-field" appearance="fill">
              <mat-label>First name</mat-label>
              <input type="email" matInput formControlName="emailFormControl" placeholder="Ex. pat@example.com">
              <mat-error *ngIf="loginFormGroup.hasError('email') && !loginFormGroup.hasError('required')">
                Please enter a valid email address
              </mat-error>
              <mat-error *ngIf="emailFormControl.hasError('required')">
                Email is <strong>required</strong>
              </mat-error>
            </mat-form-field>

            <!-- Last name -->
            <mat-form-field class="password-field" appearance="fill">
              <mat-label>Last name</mat-label>
              <input type="password" matInput [formControl]="emailFormControl" placeholder="Ex. 123456">
              <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                Please enter a valid password
              </mat-error>
              <mat-error *ngIf="emailFormControl.hasError('required')">
                Password is <strong>required</strong>
              </mat-error>
            </mat-form-field>

            <!-- Address -->
            <mat-form-field class="email-field" appearance="fill">
              <mat-label>Address</mat-label>
              <input type="email" matInput [formControl]="emailFormControl" placeholder="Ex. pat@example.com">
              <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                Please enter a valid email address
              </mat-error>
              <mat-error *ngIf="emailFormControl.hasError('required')">
                Email is <strong>required</strong>
              </mat-error>
            </mat-form-field>

            <!-- Number -->
            <mat-form-field class="password-field" appearance="fill">
              <mat-label>Number</mat-label>
              <input type="password" matInput [formControl]="emailFormControl" placeholder="Ex. 123456">
              <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                Please enter a valid password
              </mat-error>
              <mat-error *ngIf="emailFormControl.hasError('required')">
                Password is <strong>required</strong>
              </mat-error>
            </mat-form-field>

            <!-- Flat door -->
            <mat-form-field class="email-field" appearance="fill">
              <mat-label>Flat-Door</mat-label>
              <input type="email" matInput [formControl]="emailFormControl" placeholder="Ex. pat@example.com">
              <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                Please enter a valid email address
              </mat-error>
              <mat-error *ngIf="emailFormControl.hasError('required')">
                Email is <strong>required</strong>
              </mat-error>
            </mat-form-field>

             <!-- Zip code -->
            <mat-form-field class="password-field" appearance="fill">
              <mat-label>Zip/Postal code</mat-label>
              <input type="password" matInput [formControl]="emailFormControl" placeholder="Ex. 123456">
              <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                Please enter a valid password
              </mat-error>
              <mat-error *ngIf="emailFormControl.hasError('required')">
                Password is <strong>required</strong>
              </mat-error>
            </mat-form-field>

            <!-- Telephone 1 -->
            <mat-form-field class="email-field" appearance="fill">
              <mat-label>Telephone 1</mat-label>
              <input type="email" matInput [formControl]="emailFormControl" placeholder="Ex. pat@example.com">
              <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                Please enter a valid email address
              </mat-error>
              <mat-error *ngIf="emailFormControl.hasError('required')">
                Email is <strong>required</strong>
              </mat-error>
            </mat-form-field>

            <!-- Telephone 2 -->
            <mat-form-field class="password-field" appearance="fill">
              <mat-label>Telephone 2</mat-label>
              <input type="password" matInput [formControl]="emailFormControl" placeholder="Ex. 123456">
              <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                Please enter a valid password
              </mat-error>
              <mat-error *ngIf="emailFormControl.hasError('required')">
                Password is <strong>required</strong>
              </mat-error>
            </mat-form-field>

            <!-- Email -->
            <mat-form-field class="email-field" appearance="fill">
              <mat-label>Email address</mat-label>
              <input type="email" matInput [formControl]="emailFormControl" placeholder="Ex. pat@example.com">
              <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                Please enter a valid email address
              </mat-error>
              <mat-error *ngIf="emailFormControl.hasError('required')">
                Email is <strong>required</strong>
              </mat-error>
            </mat-form-field>

             <!-- Password -->
            <mat-form-field class="password-field" appearance="fill">
              <mat-label>Password</mat-label>
              <input type="password" matInput [formControl]="emailFormControl" placeholder="Ex. 123456">
              <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                Please enter a valid password
              </mat-error>
              <mat-error *ngIf="emailFormControl.hasError('required')">
                Password is <strong>required</strong>
              </mat-error>
            </mat-form-field>

            <div class="policy">PRIVACY POLICY*</div>

            <div class="policy-frame">
              <mat-checkbox class="policy-checkbox">I agree to the terms and conditions and the privacy policy.</mat-checkbox>
            </div>

            <div class="news-frame">
              <mat-checkbox class="news-checkbox">Sign up for our newsletter.</mat-checkbox>
            </div>
            
            <button class="register-btn">REGISTER</button>
          </form>
        </div>
      </div>
    </div>

    <!-- Order detail -->
    <div class="order-detail-section">
      <div class="order-detail-area" #orderDetail>
        <div class="order-detail-title">
          My order
        </div>
        <img src="assets/imgs/take-away/order-detail-wave.png" alt="">
        <div class="order-item-list">
          <div class="cart-item" *ngFor="let item of cartDetail.products; last as isLast">
            <div class="item-name">
              <div class="product-item-esName">{{item.esName}}</div>
              <div class="product-item-caName">{{item.caName}}</div>
              <div class="product-item-enName">{{item.name}}</div>
            </div>
            <div class="item-quantity">
              <div class="quantity-action">
                <div class="quantity-btn">-</div>
                <div class="quantity-number">{{item.quantity}}</div>
                <div class="quantity-btn">+</div>
              </div>
              <div class="price">{{item.price}} &#8364;</div>
            </div>
            <mat-divider *ngIf="!isLast == true" class="divider"></mat-divider>
          </div>
        </div>
        <mat-divider class="section-divider"></mat-divider>
        <div class="total">
          <div>Subtotal</div>
          <div class="total-price">{{cartDetail.subTotalPrice}} &euro;</div>
        </div>
        <mat-divider class="section-divider"></mat-divider>
        <div class="total">
          <div>Total</div>
          <div class="total-price">{{cartDetail.totalPrice}} &#8364;</div>
        </div>
        <mat-divider class="section-divider"></mat-divider>
        <button class="check-out-btn">ORDER MORE</button>
      </div>
    </div>
  </div>

  <!-- Footer -->
  <app-footer [isDisplayLogo]="false"></app-footer>
</div>

