@import '../../../assets/breakpoint/breakpoints.scss';

.home {
    max-width: 100%;
    position: relative;
    height: 276px;
    background-color: #f3eacd;
    @include breakpoint-lg-down() {
        max-width: 100%;
    }
}

.header {
    background-image: url('./../../../assets/imgs/take-away/take-way-bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    top: 0;
    z-index: 1;

    @include breakpoint-lg-down() {
        width: 100%;
        height: 145px;
    }
    
    .menu-title {
        width: 100%;
    }
}

.noscroll { 
    @include breakpoint-lg-down() {
        position: fixed;
        overflow: hidden;
    }
}

.checkout-section {
    display: flex;
    height: auto;
    flex-wrap: wrap;
    background-color: #e1c7a1;

    .back-button-section {
        width: 25%;
        display: flex;
        flex-direction: column;
        background-color: #f3eacd;
        border-right: 1px solid #c79e4f;
        padding: 6% 4% 8% 5%;
        
        @include breakpoint-lg-down() {
            display: none;
        }

        .back-button {
            cursor: pointer;
            font-weight: 600;
            text-align: right;
        }
    }

    .customer-register-section {
        display: flex;
        flex-direction: column;
        height: auto;
        width: 47%;
        background-color: #f3eacd;
        
        @include breakpoint-lg-down() {
            width: 100%;
            order: 1;
        }

        .customer-register-area {
            width: 100%;

            .login-area {
                width: 100%;
                padding: 11% 3% 7% 3%;
                border-bottom: 1px solid #c79e4f;

                .login-area-title {
                    text-align: center;
                    font-size: 45px;
                    font-family: 'amano';
                    margin-bottom: 2%;
                }

                .login-form {
                    display: flex;
                    padding: 0 6%;
                    flex-wrap: wrap;
                    justify-content: center;
                    margin-top: 4%;

                    .email-field {
                        width: 45%;
                        margin-right: 5%;

                        @include breakpoint-lg-down() {
                            width: 100%;
                            margin-right: 0;
                        }
                    }

                    .password-field {
                        width: 45%;
                        margin-left: 5%;

                        @include breakpoint-lg-down() {
                            width: 100%;
                            margin-left: 0;
                        }
                    }

                    .forgot-password {
                        width: 100%;
                        text-align: end;
                        text-decoration: underline;
                        font-size: 15px;
                        font-weight: 600;
                        cursor: pointer;
                    }

                    .login-btn {
                        margin-top: 5%;
                        background-color: #c9ac82;
                        border: 0px;
                        padding: 10px 35px;
                        font-weight: 800;
                        font-size: 17px;
                        border: 1px solid #c9ac82;
                    }

                    .login-btn-active {
                        cursor: pointer;
                    }

                    .login-btn-active:hover {
                        background-color: white;
                        color: #c9ac82;
                        border: 1px solid #c9ac82;
                    }
                }
            }

            .register-area {
                width: 100%;
                padding: 8% 3% 8% 3%;
                border-bottom: 1px solid #c79e4f;

                .register-area-title {
                    text-align: center;
                    font-size: 45px;
                    font-family: 'amano';
                    margin-bottom: 2%;
                }

                .register-form {
                    display: flex;
                    padding: 0 6%;
                    flex-wrap: wrap;
                    justify-content: center;
                    margin-top: 4%;

                    .email-field {
                        width: 45%;
                        margin-right: 5%;
                        margin-bottom: 2%;

                        @include breakpoint-lg-down() {
                            width: 100%;
                            margin-right: 0;
                        }
                    }

                    .password-field {
                        width: 45%;
                        margin-left: 5%;
                        margin-bottom: 2%;

                        @include breakpoint-lg-down() {
                            width: 100%;
                            margin-left: 0;
                        }
                    }

                    .policy {
                        width: 100%;
                        text-align: start;
                        text-decoration: underline;
                        font-weight: 600;
                        cursor: pointer;
                    }

                    .policy-frame {
                        width: 100%;
                        margin-top: 3%;

                        .policy-checkbox {
                            font-weight: 600;
                            font-size: 15px;
                        }
                    }

                    .news-frame {
                        width: 100%;
                        margin-top: 2%;

                        .news-checkbox {
                            font-weight: 600;
                            font-size: 15px;
                        }
                    }

                    .register-btn {
                        margin-top: 5%;
                        background-color: #c9ac82;
                        border: 0px;
                        padding: 10px 35px;
                        font-weight: 800;
                        font-size: 17px;
                        border: 1px solid #c9ac82;
                    }

                    .register-btn-active {
                        cursor: pointer;
                    }

                    .register-btn-active:hover {
                        background-color: white;
                        color: #c9ac82;
                    }
                }
            }
        }
    }

    .check-out-response {
        display: flex;
        flex-direction: column;
        height: auto;
        width: 47%;
        min-width: 47%;
        background-color: #f3eacd;
        
        @include breakpoint-lg-down() {
            width: 100%;
            order: 1;
        }
    }

    .confirm-payment-section {
        display: flex;
        flex-direction: column;
        height: auto;
        width: 47%;
        background-color: #f3eacd;
        
        @include breakpoint-lg-down() {
            width: 100%;
            order: 1;
        }

        .confirm-order-area {
            width: 100%;

            .order-detail-area {
                width: 100%;
                padding: 8% 3% 7% 3%;
                border-bottom: 1px solid #c79e4f;
                text-align: center;

                .order-area-title {
                    text-align: center;
                    font-size: 25px;
                    // font-family: 'amano';
                    font-weight: 500;
                    margin-bottom: 2%;
                }

                .day-title {
                    margin-bottom: 1%;
                }

                .position-title {
                    margin-bottom: 1%;
                }

                .time-title {
                    margin-bottom: 1%;

                    .picking-hour-confirm {
                        text-decoration: underline;
                        cursor: pointer;
                    }
                }

                .diners-title {
                    height: 50px;
                    margin-bottom: 2%;

                    .diners-field {
                        height: 100%;
                        line-height: 100%;
                        width: 70px;
                        margin-left: 3%;
                        padding-left: 1%;
                        background-color: #f3eacd;
                        border: 1px solid black;
                        outline: none;
                    }
                }

                .payment-method-title {
                    margin-bottom: 2%;
                    .payment-method-checkbox {
                        margin-left: 3%;
                        background-color: #f3eacd;
                    }
                }

                .additional-info-field {
                    height: 100px;
                    width: 100%;
                    max-width: 100%;
                    min-width: 100%;
                    border: 1px solid black;
                    background-color: #f3eacd;
                    outline: none;
                    padding: 2%;
                }

                .pay-btn {
                    margin-top: 5%;
                    background-color: #c9ac82;
                    border: 0px;
                    padding: 10px 35px;
                    font-weight: 800;
                    font-size: 17px;
                    border-radius: 1px solid #c9ac82;
                }

                .pay-btn-active {
                    cursor: pointer;
                }

                .pay-btn-active:hover {
                    border-radius: 1px solid #c9ac82;
                    background-color: white;
                }
            }
        }
    }

    .cart-detail {
        width: 28%;
        height: 100%;

        @include breakpoint-lg-down() {
            width: 100%;
        }
    }

    .order-detail-sticky {
        position: fixed;
        top: 0;
        right: 0;
    }
}

::ng-deep .mat-form-field-flex {
    border-radius: 0 !important;
    border: 1px solid black;
}

::ng-deep .mat-form-field-underline {
    display: none;
}

::ng-deep .mat-checkbox-background {
    background-color: transparent !important;
}

::ng-deep .mat-checkbox-checkmark-path {
    stroke: black !important;
}

::ng-deep .mat-checkbox-label {
    white-space: initial;
}