<div class="home" [ngClass]="{'noscroll': menuOpen}">
  <!-- header -->
  <div class="header">
    <div class="menu-title">
      <app-landing-title type="2" title="TAKE AWAY" color="#f3eacd"></app-landing-title>
    </div>
  </div>

  <app-cart-button></app-cart-button>
  <app-menu-button (isMenuOpen)="menuOpen = $event" [isDisplayBackground]="true"></app-menu-button>

  <div class="checkout-section">

    <!-- Back button -->
    <div class="back-button-section">
      <div class="back-button">
        &lt;&lt; BACK
      </div>
    </div>

    <!-- Checkout response section -->
    <div *ngIf="orderSuccess != null" class="check-out-response">
      <router-outlet></router-outlet>
    </div>
    <!-- Register section -->
    <div *ngIf="(!loggedInAccountInfo || !loggedInAccountInfo.token) && orderSuccess == null" class="customer-register-section">
      <div class="customer-register-area">
        <!-- Login area -->
        <div class="login-area">
          <div class="login-area-title">Already registered?</div>
          <form class="login-form" [formGroup]="loginFormGroup" (submit)="onLoginSubmit()">
            <mat-form-field class="email-field" appearance="fill">
              <mat-label>Email address</mat-label>
              <input type="email" matInput [formControl]="emailFormControl" name="email" placeholder="Ex. pat@example.com">
              <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                Please enter a valid email address
              </mat-error>
              <mat-error *ngIf="emailFormControl.hasError('required')">
                Email is <strong>required</strong>
              </mat-error>
            </mat-form-field>
            <mat-form-field class="password-field" appearance="fill">
              <mat-label>Password</mat-label>
              <input type="password" matInput [formControl]="passwordFormControl" placeholder="Ex. 123456">
              <mat-error *ngIf="passwordFormControl.hasError('required')">
                Password is <strong>required</strong>
              </mat-error>
            </mat-form-field>
            <div class="forgot-password">Forgot your password?</div>
            <button type="submit" [disabled]="loginFormGroup.invalid" [ngClass]="{'login-btn-active': !loginFormGroup.invalid}" class="login-btn">SIGN IN</button>
          </form>
        </div>

        <!-- Register area -->
        <div class="register-area">
          <div class="register-area-title">New customer?</div>
          <form class="register-form" [formGroup]="registerFormGroup" (submit)="onRegisterSubmit()">
            <!-- First name -->
            <mat-form-field class="email-field" appearance="fill">
              <mat-label>First name</mat-label>
              <input type="text" matInput formControlName="firstName" placeholder="Ex. Viet">
              <mat-error *ngIf="firstNameFormControl.hasError('required')">
                First name is <strong>required</strong>
              </mat-error>
            </mat-form-field>

            <!-- Last name -->
            <mat-form-field class="password-field" appearance="fill">
              <mat-label>Last name</mat-label>
              <input type="text" matInput formControlName="lastName" placeholder="Ex. Little">
              <mat-error *ngIf="lastNameFormControl.hasError('required')">
                Last name is <strong>required</strong>
              </mat-error>
            </mat-form-field>

            <!-- Address -->
            <mat-form-field class="email-field" appearance="fill">
              <mat-label>Address</mat-label>
              <input type="text" matInput formControlName="address" placeholder="Ex. Barcelona">
              <mat-error *ngIf="addressFormControl.hasError('required')">
                Address is <strong>required</strong>
              </mat-error>
            </mat-form-field>

            <!-- Number -->
            <mat-form-field class="password-field" appearance="fill">
              <mat-label>Number</mat-label>
              <input type="text" matInput formControlName="number" placeholder="Ex. 123">
              <mat-error *ngIf="numberFormControl.hasError('required')">
                Number is <strong>required</strong>
              </mat-error>
            </mat-form-field>

            <!-- Flat door -->
            <mat-form-field class="email-field" appearance="fill">
              <mat-label>Flat-Door</mat-label>
              <input type="text" matInput formControlName="flatDoor" placeholder="Ex. A20">
              <mat-error *ngIf="flatDoorFormControl.hasError('required')">
                Flat-Door is <strong>required</strong>
              </mat-error>
            </mat-form-field>

             <!-- Zip code -->
            <mat-form-field class="password-field" appearance="fill">
              <mat-label>Zip/Postal code</mat-label>
              <input type="text" matInput formControlName="zipCode" placeholder="Ex. 70000">
              
              <mat-error *ngIf="zipCodeFormControl.hasError('required')">
                Zip code is <strong>required</strong>
              </mat-error>
            </mat-form-field>

            <!-- Telephone 1 -->
            <mat-form-field class="email-field" appearance="fill">
              <mat-label>Telephone 1</mat-label>
              <input type="text" matInput formControlName="phoneNumber1" placeholder="Ex. 036 289 2891">
              
              <mat-error *ngIf="phone1FormControl.hasError('required')">
                Phone number 1 is <strong>required</strong>
              </mat-error>
            </mat-form-field>

            <!-- Telephone 2 -->
            <mat-form-field class="password-field" appearance="fill">
              <mat-label>Telephone 2</mat-label>
              <input type="text" matInput formControlName="phoneNumber2" placeholder="Ex. 036 289 2892">
             
              <mat-error *ngIf="phone2FormControl.hasError('required')">
                Phone number 2 is <strong>required</strong>
              </mat-error>
            </mat-form-field>

            <!-- Email -->
            <mat-form-field class="email-field" appearance="fill">
              <mat-label>Email address</mat-label>
              <input type="email" matInput formControlName="email" placeholder="Ex. pat@example.com">
              <mat-error *ngIf="emailFormControl.hasError('required')">
                Email is <strong>required</strong>
              </mat-error>
            </mat-form-field>

             <!-- Password -->
            <mat-form-field class="password-field" appearance="fill">
              <mat-label>Password</mat-label>
              <input type="password" matInput formControlName="password" placeholder="Ex. 123456">
              <mat-error *ngIf="emailFormControl.hasError('required')">
                Password is <strong>required</strong>
              </mat-error>
            </mat-form-field>

            <div class="policy">PRIVACY POLICY*</div>

            <div class="policy-frame">
              <mat-checkbox required class="policy-checkbox" formControlName="policy">I agree to the terms and conditions and the privacy policy.</mat-checkbox>
            </div>

            <div class="news-frame">
              <mat-checkbox class="news-checkbox" formControlName="newsLetter">Sign up for our newsletter.</mat-checkbox>
            </div>
            
            <button [disabled]="registerFormGroup.invalid"  [ngClass]="{'register-btn-active': !registerFormGroup.invalid}" class="register-btn">REGISTER</button>
          </form>
        </div>
      </div>
    </div>

    <!-- Confirm payment -->
    <div *ngIf="loggedInAccountInfo && loggedInAccountInfo.token && orderSuccess == null" class="confirm-payment-section">
      <div class="confirm-order-area">
        <!-- Confirm order area -->
        <form class="order-detail-area" [formGroup]="submitPay" (submit)="onPaySubmit()">
          <div class="order-area-title">THE ORDER CAN BE COLLECTED</div>
          <div class="day-title">Today {{getDay()}}</div>
          <div class="position-title">en: Little Viet Barcelona</div>
          <div *ngIf="pickUpTime != null" class="time-title">at:
            <select [formControl]="hourFormControl" required name="hour" class="picking-hour-confirm">
              <option *ngFor="let time of pickUpTimeValues" value="{{time}}">{{time.getHours()}}:{{time.getMinutes() == 0 ? '00': time.getMinutes()}}</option>
            </select>
          </div>
          <div class="diners-title">How many diners are you?*
            <input formControlName="dinners" class="diners-field" placeholder="No." type="text" name="" id="">
          </div>
          <div class="payment-method-title">Payment method:
            <mat-checkbox formControlName="paymentMethod" [checked]="true" class="payment-method-checkbox">Credit card</mat-checkbox>
          </div>
          <textarea formControlName="additionalRequest" class="additional-info-field" placeholder="Additional information"></textarea>
          <button [disabled]="submitPay.invalid || (isCartEmptyObs | async)" [ngClass]="{'pay-btn-active': !submitPay.invalid && !(isCartEmptyObs | async)}" class="pay-btn">PAY</button>
        </form>
      </div>
    </div>

    <!-- Order detail -->
    <div class="cart-detail">
      <app-cart-detail titleBtn="ORDER MORE"></app-cart-detail>
    </div>
  </div>

  <!-- Footer -->
  <app-footer [isDisplayLogo]="false"></app-footer>
</div>

<app-progress-spinner *ngIf="(authActionsObs | async)!.length > 0 || (takeAwayActionsObs | async)!.length > 0"></app-progress-spinner>

