@import '../../../assets/breakpoint/breakpoints.scss';

.home {
    max-width: 100%;
    position: relative;
    height: 276px;
    background-color: #f3eacd;
    @include breakpoint-lg-down() {
        max-width: 100%;
    }
}

.header {
    background-image: url('./../../../assets/imgs/take-away/take-way-bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    top: 0;
    z-index: 1;

    @include breakpoint-lg-down() {
        width: 100%;
        height: 145px;
    }
    
    .menu-title {
        width: 100%;
    }
}

.noscroll { 
    @include breakpoint-lg-down() {
        position: fixed;
        overflow: hidden;
    }
}

.checkout-section {
    display: flex;
    height: auto;
    flex-wrap: wrap;

    .back-button-section {
        width: 25%;
        display: flex;
        flex-direction: column;
        background-color: #f3eacd;
        border-right: 1px solid #c79e4f;
        padding: 6% 4% 8% 5%;
        
        @include breakpoint-lg-down() {
            display: none;
        }

        .back-button {
            cursor: pointer;
            font-weight: 600;
            text-align: right;
        }
    }

    .customer-register-section {
        display: flex;
        flex-direction: column;
        height: auto;
        width: 47%;
        background-color: #f3eacd;
        
        @include breakpoint-lg-down() {
            width: 100%;
        }

        .customer-register-area {
            width: 100%;

            .login-area {
                width: 100%;
                padding: 11% 3% 7% 3%;
                border-bottom: 1px solid #c79e4f;

                .login-area-title {
                    text-align: center;
                    font-size: 45px;
                    font-family: 'amano';
                    margin-bottom: 2%;
                }

                .login-form {
                    display: flex;
                    padding: 0 6%;
                    flex-wrap: wrap;
                    justify-content: center;
                    margin-top: 4%;

                    .email-field {
                        width: 45%;
                        margin-right: 5%
                    }

                    .password-field {
                        width: 45%;
                        margin-left: 5%
                    }

                    .forgot-password {
                        width: 100%;
                        text-align: end;
                        text-decoration: underline;
                        font-size: 15px;
                        font-weight: 600;
                        cursor: pointer;
                    }

                    .login-btn {
                        margin-top: 5%;
                        background-color: #c9ac82;
                        border: 0px;
                        padding: 10px 35px;
                        font-weight: 800;
                        font-size: 17px;
                    }
                }
            }

            .register-area {
                width: 100%;
                padding: 8% 3% 8% 3%;
                border-bottom: 1px solid #c79e4f;

                .register-area-title {
                    text-align: center;
                    font-size: 45px;
                    font-family: 'amano';
                    margin-bottom: 2%;
                }

                .register-form {
                    display: flex;
                    padding: 0 6%;
                    flex-wrap: wrap;
                    justify-content: center;
                    margin-top: 4%;

                    .email-field {
                        width: 45%;
                        margin-right: 5%;
                        margin-bottom: 2%;
                    }

                    .password-field {
                        width: 45%;
                        margin-left: 5%;
                        margin-bottom: 2%;
                    }

                    .policy {
                        width: 100%;
                        text-align: start;
                        text-decoration: underline;
                        font-weight: 600;
                        cursor: pointer;
                    }

                    .register-btn {
                        margin-top: 5%;
                        background-color: #c9ac82;
                        border: 0px;
                        padding: 10px 35px;
                        font-weight: 800;
                        font-size: 17px;
                        cursor: pointer;
                    }

                    .register-btn:hover {
                        border-radius: 1px solid #f3eacd;
                        background-color: white;
                    }

                    .policy-frame {
                        width: 100%;
                        margin-top: 3%;

                        .policy-checkbox {
                            font-weight: 600;
                            font-size: 15px;
                        }
                    }

                    .news-frame {
                        width: 100%;
                        margin-top: 2%;

                        .news-checkbox {
                            font-weight: 600;
                            font-size: 15px;
                        }
                    }
                }
            }
        }
    }

    .order-detail-section {
        background-color: #e1c7a1;
        width: 28%;
        padding: 4% 5% 5% 4%;

        @include breakpoint-lg-down() {
            width: 100%;
        }

        .order-detail-area {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;

            img {
                max-width: 100%;
                margin-bottom: 13%;
            }
    
            .order-detail-title {
                text-align: center;
                font-size: 45px;
                font-family: 'amano';
                margin-bottom: 2%;
            }
    
            .order-item-list {
                display: flex;
                flex-direction: column;
                width: 100%;
                margin-bottom: 8%;
    
                .cart-item {
                    width: 100%;
                    display: flex;
                    flex-direction: row;
                    align-content: space-between;
                    flex-wrap: wrap;
                    margin-bottom: 5%;
    
                    .item-name {
                        padding-bottom: 3%;
                        width: 75%;
    
                        .product-item-esName {
                            font-size: 18px;
                            font-weight: 600;
                            margin-bottom: 1%;
                        }
    
                        .product-item-caName {
                            font-size: 15px;
                            margin-bottom: 1%;
                        }
    
                        .product-item-enName {
                            font-size: 15px;
                        }
                    }
    
                    .item-quantity {
                        display: flex;
                        flex-direction: column;
                        width: 25%;
    
                        .quantity-action {
                            display: flex;
                            flex-direction: row;
                            justify-content: flex-end;
    
                            .quantity-btn {
                                width: 22px;
                                height: 22px;
                                font-size: 20px;
                                line-height: 20px;
                                border-radius: 50%;
                                text-align: center;
                                border: 1px solid black;
                                cursor: pointer;
                            }
    
                            .quantity-number {
                                margin: 0 6px;
                                line-height: 24px;
                                font-weight: 600;
                            }
                        }
    
                        .price {
                            align-self: flex-end;
                            font-size: 18;
                            font-weight: 600;
                            margin-top: 20%;
                        }
                    }
    
                    .divider {
                        width: 110%;
                        margin-left: -10%;
                        background-color: #dcc18a;
                    }
                }
            }
    
            .section-divider {
                background-color: black;
                width: 100%;
            }
    
            .total {
                display: flex;
                width: 100%;
                justify-content: space-between;
                margin: 4% 0;
                font-weight: 600;
                line-height: 20px;
                text-align: center;
    
                .total-price {
                    font-size: 20px;
                }
            }
    
            .check-out-btn {
                margin-top: 10%;
                background-color: #f3eacd;
                border: 0px;
                padding: 10px 30px;
                font-weight: 600;
                font-size: 17px;
                cursor: pointer;
            }

            .check-out-btn:hover {
                border-radius: 1px solid #f3eacd;
                background-color: white;
            }
        }
    }

    .order-detail-sticky {
        position: fixed;
        top: 0;
        right: 0;
    }
}

::ng-deep .mat-form-field-flex {
    border-radius: 0 !important;
    border: 1px solid black;
}

::ng-deep .mat-form-field-underline {
    display: none;
}

::ng-deep .mat-checkbox-background {
    background-color: transparent !important;
}

::ng-deep .mat-checkbox-checkmark-path {
    stroke: black !important;
}