<div class="home" [ngClass]="{'noscroll': menuOpen}" #full>
  <!-- header -->
  <div class="header" #header>
    <div class="menu-title">
      <app-landing-title type="2" title="TAKE AWAY" color="#f3eacd"></app-landing-title>
    </div>
  </div>

  <app-cart-button></app-cart-button>
  
  <div #menuBtn>
    <app-menu-button [(menuOpen)]="menuOpen" [isDisplayBackground]="true"></app-menu-button>
  </div>

  <div class="checkout-section" [style.height]="scrHeight > 0 ? scrHeight + 'px' : 'auto'">

    <!-- Back button -->
    <div class="back-button-section">
      <div onclick="window.history.back()" class="back-button">
        &lt;&lt; {{ 'common.back' | translate }}
      </div>
    </div>

    <!-- Checkout response section -->
    <div *ngIf="orderSuccess != null" class="check-out-response">
      <router-outlet></router-outlet>
    </div>
    <!-- Register section -->
    <div *ngIf="(!loggedInAccountInfo || !loggedInAccountInfo.token) && orderSuccess == null"
      class="customer-register-section">
      <div class="customer-register-area">
        <!-- Login area -->
        <div class="login-area">
          <div class="login-area-title">{{ 'takeaway.checkout.registered' | translate }}</div>
          <form class="login-form" [formGroup]="loginFormGroup" (submit)="onLoginSubmit()">
            <mat-form-field class="email-field" appearance="fill">
              <mat-label>{{ 'common.email.label' | translate }}</mat-label>
              <input type="email" matInput [formControl]="emailFormControl" name="email" placeholder="Ex. pat@example.com">
              <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                {{ 'common.email.format' | translate }}
              </mat-error>
              <mat-error *ngIf="emailFormControl.hasError('required')">
                {{ 'common.email.required' | translate }}
              </mat-error>
            </mat-form-field>
            <mat-form-field class="password-field" appearance="fill">
              <mat-label>{{ 'common.password.label' | translate }}</mat-label>
              <input type="password" matInput [formControl]="passwordFormControl" placeholder="Ex. 123456">
              <mat-error *ngIf="passwordFormControl.hasError('required')">
                {{ 'common.password.required' | translate }}
              </mat-error>
            </mat-form-field>
            <div class="forgot-password">{{ 'common.password.forgot' | translate }}</div>
            <button type="submit" [disabled]="loginFormGroup.invalid" class="login-btn"
              [ngClass]="{'login-btn-active': !loginFormGroup.invalid}">
              {{ 'takeaway.checkout.signIn' | translate }}
            </button>
          </form>
        </div>

        <!-- Register area -->
        <div class="register-area">
          <div class="register-area-title">{{ 'takeaway.checkout.newCustomer' | translate }}</div>
          <form class="register-form" [formGroup]="registerFormGroup">
            <!-- First name -->
            <mat-form-field class="email-field" appearance="fill">
              <mat-label>{{ 'common.firstName.label' | translate }}</mat-label>
              <input type="text" matInput formControlName="firstName" placeholder="Ex. Viet">
              <mat-error *ngIf="firstNameFormControl.hasError('required')">
                {{ 'common.firstName.required' | translate }}
              </mat-error>
            </mat-form-field>

            <!-- Last name -->
            <mat-form-field class="password-field" appearance="fill">
              <mat-label>{{ 'common.lastName.label' | translate }}</mat-label>
              <input type="text" matInput formControlName="lastName" placeholder="Ex. Little">
              <mat-error *ngIf="lastNameFormControl.hasError('required')">
                {{ 'common.lastName.required' | translate }}
              </mat-error>
            </mat-form-field>

            <!-- Telephone 1 -->
            <mat-form-field class="email-field" appearance="fill">
              <mat-label>{{ 'common.phoneNumber.label' | translate }}</mat-label>
              <input type="text" matInput formControlName="phoneNumber1" appPhoneMask placeholder="Ex. 036 289 2891">
              <mat-error *ngIf="phone1FormControl.hasError('required')">
                {{ 'common.phoneNumber.required' | translate }}
              </mat-error>
            </mat-form-field>

            <!-- Email -->
            <mat-form-field class="password-field" appearance="fill">
              <mat-label>{{ 'common.email.label' | translate }}</mat-label>
              <input type="email" matInput formControlName="email" placeholder="Ex. pat@example.com">
              <mat-error *ngIf="emailFormControl.hasError('required')">
                {{ 'common.email.required' | translate }}
              </mat-error>
            </mat-form-field>

             <!-- Password -->
            <mat-form-field class="email-field" appearance="fill">
              <mat-label>{{ 'common.password.label' | translate }}</mat-label>
              <input [type]="hidePassword ? 'password' : 'text'" matInput formControlName="password" placeholder="Ex. 123456">
              <button mat-icon-button matSuffix (click)="hidePassword = !hidePassword" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hidePassword">
                <mat-icon>{{ hidePassword ? 'visibility_off' : 'visibility' }}</mat-icon>
              </button>
              <mat-error *ngIf="regPasswordFormControl.hasError('required')">
                {{ 'common.password.required' | translate }}
              </mat-error>
              <mat-error *ngIf="regPasswordFormControl.hasError('minlength')">
                {{ 'common.password.length' | translate }}
              </mat-error>
            </mat-form-field>

            <!-- Confirm password -->
            <mat-form-field class="password-field" appearance="fill">
              <mat-label>{{ 'common.password.confirm' | translate }}</mat-label>
              <input [type]="hidePassword ? 'password' : 'text'" matInput formControlName="confirmPassword"
                placeholder="Ex. 123456" [errorStateMatcher]="matcher">
              <button mat-icon-button matSuffix (click)="hidePassword = !hidePassword" [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hidePassword">
                <mat-icon>{{ hidePassword ? 'visibility_off' : 'visibility' }}</mat-icon>
              </button>
              <mat-error *ngIf="registerFormGroup.hasError('notSame')">
                {{ 'common.password.match' | translate }}
              </mat-error>  
            </mat-form-field>

            <div class="policy">{{ 'takeaway.checkout.policy' | translate }}</div>

            <div class="policy-frame">
              <mat-checkbox required class="policy-checkbox" formControlName="policy">
                {{ 'takeaway.checkout.description1' | translate }}
              </mat-checkbox>
            </div>

            <div class="news-frame">
              <mat-checkbox class="news-checkbox" formControlName="newsLetter">
                {{ 'takeaway.checkout.description2' | translate }}
              </mat-checkbox>
            </div>
            
            <button [disabled]="registerFormGroup.invalid" class="register-btn"
              [ngClass]="{'register-btn-active': !registerFormGroup.invalid}"
              (click)="onRegisterSubmit()">
              {{ 'takeaway.checkout.register' | translate }}
            </button>
          </form>
        </div>
      </div>
    </div>

    <!-- Confirm payment -->
    <div *ngIf="loggedInAccountInfo && loggedInAccountInfo.token && orderSuccess == null" class="confirm-payment-section">
      <div class="confirm-order-area">
        <!-- Confirm order area -->
        <form class="order-detail-area" [formGroup]="submitPay" (submit)="onPaySubmit()">
          <div class="order-area-title">{{ 'takeaway.confirm.title' | translate }}</div>
          <div class="day-title">Today {{getDay()}}</div>
          <div class="position-title">en: Little Viet Barcelona</div>
          <div class="time-title">at:
            <select [formControl]="hourFormControl" required name="hour" class="picking-hour-confirm">
              <option *ngFor="let time of pickUpTimeValues" value="{{time}}">
                {{time.getHours()}}:{{time.getMinutes() == 0 ? '00': time.getMinutes()}}
              </option>
            </select>
          </div>
          <div class="payment-method-title">{{ 'takeaway.confirm.paymentMethod' | translate }}
            <mat-checkbox required formControlName="paymentMethod" name="paymentMethod"
              class="payment-method-checkbox">
              {{ 'takeaway.confirm.creditCard' | translate }}
            </mat-checkbox>
          </div>
          <textarea formControlName="additionalRequest" class="additional-info-field" placeholder="Additional information"></textarea>
          <button *ngIf="today != 2 && !isChristmas()" [disabled]="submitPay.invalid || (isCartEmptyObs | async)"
            [ngClass]="!submitPay.invalid && !(isCartEmptyObs | async) ? 'pay-btn-active': 'pay-btn-inactive'" class="pay-btn">
            {{ 'takeaway.confirm.pay' | translate }}
          </button>
          <button type="button" *ngIf="today == 2 || isChristmas()" [disabled]="submitPay.invalid || (isCartEmptyObs | async)" (click)="isPayClick = true"
            [ngClass]="!submitPay.invalid && !(isCartEmptyObs | async) ? 'pay-btn-active': 'pay-btn-inactive'" class="pay-btn">
            {{ 'takeaway.confirm.pay' | translate }}
          </button>
          <div *ngIf="isPayClick" class="close-warning"><i nz-icon nzType="warning" class="icon" nzTheme="fill"></i> {{ 'landingPage.takeaway.closeWarning' | translate }} </div>
        </form>
      </div>
    </div>

    <!-- Order detail -->
    <div class="cart-detail">
      <app-cart-detail [isCheckout]="false"></app-cart-detail>
    </div>
  </div>

  <!-- Footer -->
  <div #footerPlaceHolder [style.height]="footerHeight > 0 ? footerHeight + 'px' : 'auto'" class="footer-place-holder"></div>
  <div #footer class="footer-area">
    <app-footer [isDisplayLogo]="false"></app-footer>
  </div>
</div>

<app-progress-spinner *ngIf="(authActionsObs | async)!.length > 0 || (takeAwayActionsObs | async)!.length > 0"></app-progress-spinner>

