<div *ngIf="productType != null">
  <div>Booking information:</div>
  <form nz-form [formGroup]="validateForm">

    <!-- Name -->
    <nz-form-item>
      <nz-form-label [nzSpan]="7" nzRequired>Name</nz-form-label>
      <nz-form-control [nzSpan]="12" nzHasFeedback nzValidatingTip="Validating..." [nzErrorTip]="nameErrorTpl">
        <input nz-input formControlName="name" placeholder="Product's name" type="text" />
        <ng-template #nameErrorTpl let-control>
          <ng-container *ngIf="control.hasError('required')">Please input product type's name!</ng-container>
        </ng-template>
      </nz-form-control>
    </nz-form-item>

    <!-- Es name -->
    <nz-form-item>
      <nz-form-label [nzSpan]="7" nzRequired>Es name</nz-form-label>
      <nz-form-control [nzSpan]="12" nzHasFeedback [nzErrorTip]="esNameErrorTpl">
        <input nz-input formControlName="esName" placeholder="Product's es name" type="text" />
        <ng-template #esNameErrorTpl let-control>
          <ng-container *ngIf="control.hasError('required')">Please input product type's es name!</ng-container>
        </ng-template>
      </nz-form-control>
    </nz-form-item>

    <!-- Ca name -->
    <nz-form-item>
      <nz-form-label [nzSpan]="7" nzRequired>Ca name</nz-form-label>
      <nz-form-control [nzSpan]="12" nzHasFeedback [nzErrorTip]="caNameErrorTpl">
        <input nz-input formControlName="caName" placeholder="Product's ca name" type="text" />
        <ng-template #caNameErrorTpl let-control>
          <ng-container *ngIf="control.hasError('required')">Please input product type's ca name!</ng-container>
        </ng-template>
      </nz-form-control>
    </nz-form-item>

    <!-- Description -->
    <nz-form-item>
      <nz-form-label [nzSpan]="7" nzRequired>Description</nz-form-label>
      <nz-form-control [nzSpan]="12" nzHasFeedback [nzErrorTip]="descriptionErrorTpl">
        <input nz-input formControlName="description" placeholder="Product's description" type="text" />
        <ng-template #descriptionErrorTpl let-control>
          <ng-container *ngIf="control.hasError('required')">Please input product type's description!</ng-container>
        </ng-template>
      </nz-form-control>
    </nz-form-item>

    <!-- Submit button -->
    <nz-form-item>
      <nz-form-control [nzOffset]="7" [nzSpan]="5">
        <button nz-button [nzLoading]="(adminActionsObs | async)!.length > 0" nzType="primary"
          [disabled]="!validateForm.valid || !validateForm.dirty" nz-popconfirm
          nzPopconfirmTitle="Are you sure save this product type?" nzPopconfirmPlacement="bottom"
          (nzOnConfirm)="submitForm()">Save</button>
        <button class="reset-button" [hidden]="!validateForm.dirty" nz-button (click)="resetForm($event)">Reset</button>
      </nz-form-control>
    </nz-form-item>
  </form>
</div>
