@import '../../../assets/breakpoint/breakpoints.scss';

.home {
    max-width: 100%;
    position: relative;
    height: 276px;
    background-color: #f3eacd;
    @include breakpoint-lg-down() {
        max-width: 100%;
    }
}

.header {
    background-image: url('./../../../assets/imgs/reservation/reservation-header.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    top: 0;
    z-index: 1;

    @include breakpoint-lg-down() {
        width: 100%;
        height: 145px;
    }
    
    .menu-title {
        width: 100%;
    }
}

.noscroll { 
    @include breakpoint-lg-down() {
        position: fixed;
        overflow: hidden;
    }
}

.reservation-section {
    display: flex;
    height: auto;
    flex-wrap: wrap;
    background-color: #f3eacd;
    padding: 0 10% 0 15%;

    .reservation-intro-section {
        width: 60%;
        display: flex;
        flex-direction: column;
        background-color: #f3eacd;
        border-right: 1px solid #c79e4f;
        overflow: hidden;
        // padding: 6% 4% 8% 5%;
        
        @include breakpoint-lg-down() {
            display: none;
        }

        .back-btn-area {
            padding-top: 7%;
            padding-bottom: 5%;

            .back-button {
                cursor: pointer;
                font-weight: 600;
                padding-left: 10%;
                width: fit-content;
                margin-bottom: 4%;
            }
        }

        .reservation-time-info {
            display: flex;
            padding-top: 2%;
            padding-bottom: 5%;
            flex-wrap: wrap;

            .time-open {
                width: 30%;
                margin-right: 3%;
                padding-left: 10%;

                
                .open-title {
                    font-weight: 600;
                    margin-bottom: 10px;
                }

                .open-time {
                    margin-bottom: 10px;
                }
            }

            .day-of-week {
                display: flex;
                width: 15%;
                align-content: space-between;
                flex-wrap: wrap;
                margin-right: 5%;

                .week-day {
                    width: 50%;
                } 
            }

            .time-close {
                display: flex;
                width: 30%;
                flex-direction: column;
                align-content: space-between;

                .close-title {
                    font-weight: 600;
                    margin-bottom: 10px;
                }
            }

            .middle-line {
                margin-top: 7%;
            }
        }

        .reservation-policy {
            padding-bottom: 10%;
            padding-top: 3%;

            .line-1 {
                width: 75%;
                line-height: 160%;

                .time-title {
                    font-weight: 600;
                }
            }

            .line-2 {
                width: 75%;
                line-height: 160%;
            }

            .line-3 {
                width: 75%;
                line-height: 160%;
            }

            .line-4 {
                width: 88%;
                margin-top: 4%;
                line-height: 160%;
            }

            .line-5 {
                width: 88%;
                line-height: 160%;
            }

            .line-6 {
                width: 88%;
                line-height: 160%;
            }
        }
    }

    .reservation-booking-section {
        width: 40%;
        background-color: #e1c7a1;

        @include breakpoint-lg-down() {
            width: 100%;
        }

        .reservation-booking-bg {
            width: 100%;
            padding: 15% 5% 10% 5%;

            .reservation-title {
                text-align: center;
                font-size: 30px;
                font-family: 'amano';
                margin-bottom: 2%;
                padding: 0 5%;
            }

            .reservation-form {
                justify-content: center;
                align-items: center;
                display: flex;
                flex-direction: column;
                
                .reservation-field {
                    width: 60%;
                    margin-top: 5%;

                    .input-field {
                        width: 100%;
                        height: 38px;
                    }
                }
            }
        }

        
    }

    .reservation-policy {
        padding-left: 10%;
    }

    .order-detail-sticky {
        position: fixed;
        top: 0;
        right: 0;
    }
}

::ng-deep .mat-form-field-flex {
    border-radius: 0 !important;
    border: 1px solid black;
}

::ng-deep .mat-form-field-underline {
    display: none;
}

::ng-deep .mat-checkbox-background {
    background-color: transparent !important;
}

::ng-deep .mat-checkbox-checkmark-path {
    stroke: black !important;
}

::ng-deep .mat-checkbox-label {
    white-space: initial;
}