<div class="close-btn-area" mat-dialog-close>
  <mat-icon mat-icon class="close-btn">close</mat-icon>
</div>
<div class="take-away-dialog">
  <h1 mat-dialog-title class="take-away-title">Take away</h1>
  <div mat-dialog-content>
    <p class="today-title">Today, {{today}}</p>
    <form (ngSubmit)="onSubmit()" class="hour-field" name="hour-form">
      <select [formControl]="hourFormControl" required name="hour" class="hour-value">
        <option *ngFor="let hour of pickUpTimeValuesDropdown" selected value="{{hour}}">{{hour}}</option>
      </select>
      <button type="submit" mat-dialog-close="true"
        [disabled]="hourFormControl.invalid || hourFormControl.value == 'Hour*'"
        [ngClass]="{'next-btn-active': !hourFormControl.invalid && hourFormControl.value != 'Hour*'}" class="next-btn">
        NEXT
      </button>
    </form>
  </div>
</div>