<div class="order-detail-section" [ngClass]="{'order-detail-sticky': orderDetailSticky}" #orderDetailSection>
  <div class="order-detail-area" #orderDetail>
    <div class="order-detail-title">
      {{ 'takeaway.cart.title' | translate }}
    </div>
    <img src="assets/imgs/take-away/order-detail-wave.png" alt="">
    <div *ngIf="cartDetail &&  cartDetail.servings &&  cartDetail.servings.length > 0"  class="order-item-list">
      <div class="cart-item" *ngFor="let item of cartDetail.servings; last as isLast">
        <div class="item-name">
          <div class="product-item-esName">{{item.esName}}</div>
          <div class="product-item-caName">{{item.caName}}</div>
          <div class="product-item-enName">{{item.name}}</div>
        </div>
        <div class="item-quantity">
          <div class="quantity-action">
            <div (click)="adjustCart(item.id, -1)" class="quantity-btn">-</div>
            <div class="quantity-number">{{item.quantity}}</div>
            <div (click)="adjustCart(item.id, 1)" class="quantity-btn">+</div>
          </div>
          <div class="price">{{item.price * item.quantity}} &#8364;</div>
        </div>
        <mat-divider *ngIf="!isLast == true" class="divider"></mat-divider>
      </div>
    </div>
    <mat-divider class="section-divider"></mat-divider>
    <div class="total">
      <div>{{ 'takeaway.cart.subtotal' | translate }}</div>
      <div class="total-price">{{cartDetail && cartDetail.subTotalPrice ? cartDetail.subTotalPrice : 0}} &#8364;</div>
    </div>
    <mat-divider class="section-divider"></mat-divider>
    <div class="total">
      <div>{{ 'takeaway.cart.total' | translate }}</div>
      <div class="total-price">{{cartDetail && cartDetail.totalPrice ? cartDetail.totalPrice : 0}} &#8364;</div>
    </div>
    <mat-divider class="section-divider"></mat-divider>
    <button *ngIf="isCheckout && today != 2" class="check-out-btn"
      [disabled]="isCartEmpty()" [ngClass]="{'check-out-btn-active': !isCartEmpty()}"  routerLink="/checkout">{{'takeaway.cart.checkout' | translate }}</button>
    <button *ngIf="isCheckout && today == 2" class="check-out-btn"
      [disabled]="isCartEmpty()" [ngClass]="{'check-out-btn-active': !isCartEmpty()}"  (click)="isCheckoutClick = true">{{'takeaway.cart.checkout' | translate }}</button>
    <div *ngIf="isCheckoutClick" class="close-warning"><i nz-icon nzType="warning" class="icon" nzTheme="fill"></i> {{ 'landingPage.takeaway.closeWarning' | translate }} </div>

    <button *ngIf="!isCheckout" class="order-more-btn" routerLink="/take-away">{{'takeaway.cart.orderMore' | translate }}</button>
  </div>
</div>