<div class="close-btn-area" mat-dialog-close>
  <mat-icon mat-icon class="close-btn">close</mat-icon>
</div>
<div class="policy-dialog">
  <h1 mat-dialog-title class="policy-title">CANCELLATION POLICY</h1>
  <div mat-dialog-content class="content">
    <div>In reservations of 8 people or more we will request your credit card data, as guarantee.</div>
    <div>The procedure of reservation does not imply any charge on your credit card.</div>
    <div>You will be able to modify or annul your reservation without any charge until 24 hours before it.</div>
    <div>If you annul the reservation the same day or you do not come, 25€ per person will be charged.</div>
    <div>You will be able to adjust the definitive number of diners until 6 hours before the reservation, on the contrary, 25€ will be charged for every person that does not assist.</div>
    <div>For your tranquillity we always confirm (via email or sms) double check of your reservation: one of the moment of doing it and another the previous day.</div>
  </div>
</div>
