<div class="close-btn-area" mat-dialog-close>
  <mat-icon mat-icon class="close-btn">close</mat-icon>
</div>
<div class="policy-dialog">
  <h1 mat-dialog-title class="policy-title">{{ 'reservationPage.cancelationPolicy' | translate }}</h1>
  <div mat-dialog-content class="content">
    <div>{{ 'reservationPage.dialog.description1' | translate }}</div>
    <div>{{ 'reservationPage.dialog.description2' | translate }}</div>
    <div>{{ 'reservationPage.dialog.description3' | translate }}</div>
    <div>{{ 'reservationPage.dialog.description4' | translate }}</div>
    <div>{{ 'reservationPage.dialog.description5' | translate }}</div>
    <div>{{ 'reservationPage.dialog.description6' | translate }}</div>
  </div>
</div>
