<div class="menu-btn-section">
  <div [ngClass]="{'open': menuOpen, 'menu-btn-bg': isDisplayBackground}" class="menu-btn" (click)="closeMenu()">
    <div class="menu-btn__burger"></div>
  </div>
</div>

<div class="overlay" [ngClass]="{'overlay-open': menuOpen}">
  <div class="overlay-content">
    <!-- Already logged in -->
    <div *ngIf="loginInfo != null && loginInfo.token != null" class="login-info-btn">
      <button mat-button #trigger="matMenuTrigger" class="name-info-btn" [matMenuTriggerFor]="beforeMenu">
        <div>{{ loginInfo.firstname }}</div>
        <mat-icon>{{ trigger.menuOpen  ? 'keyboard_arrow_down' : 'keyboard_arrow_up' }}</mat-icon>
      </button>
      <mat-menu #beforeMenu="matMenu" xPosition="before">
        <button mat-menu-item class="login-menu-item">My account</button>
        <button (click)="logout()" mat-menu-item class="login-menu-item">Log out</button>
      </mat-menu>
    </div>

    <!-- Sign in -->
    <div *ngIf="loginInfo == null || loginInfo.token == null" class="login-info-btn">
      <button mat-button #trigger="matMenuTrigger" class="name-info-btn" [matMenuTriggerFor]="beforeMenu">
        <div>Login</div>
        <mat-icon>{{ trigger.menuOpen  ? 'keyboard_arrow_down' : 'keyboard_arrow_up' }}</mat-icon>
      </button>
      <mat-menu #beforeMenu="matMenu" xPosition="before">
        <button routerLink="/login" mat-menu-item class="login-menu-item">Sign in</button>
        <button routerLink="/sign-up" mat-menu-item class="login-menu-item">Register</button>
      </mat-menu>
    </div>

    <div class="menu-btn-title" (click)="menuClick()" routerLink="/">INTRODUCE</div>
    <div class="divider-border">
      <mat-divider class="divider-1"></mat-divider>
      <mat-divider class="divider-2"></mat-divider>
    </div>
    <div class="menu-item" (click)="menuClick()" routerLink="" fragment="reservation">RESERVATIONS</div>
    <div class="menu-item" (click)="menuClick()" routerLink="" fragment="menu">MENU</div>
    <div class="menu-item" (click)="menuClick()" routerLink="" fragment="take-away">TAKE AWAY</div>
    <div class="menu-item" (click)="menuClick()" routerLink="" fragment="coupon-gift">COUPON GIFT</div>
    <div class="menu-item" (click)="menuClick()" routerLink="" fragment="products">PRODUCTS</div>
    <div class="menu-item" (click)="menuClick()" routerLink="" fragment="contact">CONTACT</div>
    <div class="menu-language">
      <span class="language-item active-language">ES</span>
      <span class="language-item">EN</span>
      <span class="language-item">CA</span>
    </div>
  </div>
</div>