@import '../../../assets/breakpoint/breakpoints.scss';

.use-coupon-layout {
    width: 100%;
    display: flex;

    @include breakpoint-lg-down() {
        flex-direction: column;
    }

    .left-layout {
        width: 50%;
        padding-right: 12px;

        @include breakpoint-lg-down() {
            width: 100%;
            padding-right: 0;
        }

        .filter-form {

            @include breakpoint-lg-down() {
                width: 100%;
            }

            .coupon-input {
                text-transform: uppercase;
            }

            .search-btn-area {
                text-align: end;
            }
        }

        .search-result-area {
            width: 100%;
            overflow: hidden;

            @include breakpoint-lg-down() {
                height: 250px;
            }

            .search-result-title {
                text-align: center;
                font-weight: 500;
                margin-bottom: 16px;
            }

            .search-result-viewport {
                height: 511px;

                .list-item {
                    cursor: pointer;
                }

                .list-item:hover {
                    background-color: #1890ff;
                }

                .item-selected {
                    background-color: #1890ff;
                }
            }
        }
    }

    .right-layout {
        width: 50%;
        padding-left: 12px;
        padding-right: 12px;
        border: 1px solid black;
        position: relative;
        overflow: auto;

        @include breakpoint-lg-down() {
            width: 100%;
            padding-left: 6px;
            padding-right: 6px;
            margin-top: 12px;
        }

        .title {
            font-weight: 500;
            font-size: 22px;
            text-align: center;

            @include breakpoint-lg-down() {
                font-size: 20px;
            }
        }

        .order-detail {
            padding: 25px;

            @include breakpoint-lg-down() {
                padding: 0px;
            }

            .order-item-list {
                display: flex;
                flex-direction: column;
                width: 100%;
                margin-bottom: 12px;
                border-bottom: 1px dashed black;
                padding-bottom: 6px;

                .info-title {
                    font-weight: 600;
                    display: inline-block;
                    width: 24%;
                }

                .coupon-code-value {
                    font-size: 20px;
                    text-align: center;
                }
            }

            .cus-info {
                padding-bottom: 6px;
                border-bottom: 1px dashed black;
                margin-bottom: 12px;

                .info-title {
                    font-weight: 600;
                    display: inline-block;
                    width: 24%;
                }
            }

            .use-coupon-form {
                margin-top: 24px;

                .usage-input {
                    text-align: right;
                }
                
                .completed-btn {
                    text-align: end;
                    margin-bottom: 12px;
    
                    .succcess-message {
                        text-align: center;
                        background-color: #f6ffed;
                        padding: 10px 0;
                        border: 1px solid #b7eb8f
                    }
                }
            }
        }
    }
}


::ng-deep .ant-collapse-content>.ant-collapse-content-box {
    @include breakpoint-lg-down() {
        padding: 4px 8px;
    }
}

::-webkit-input-placeholder {
    text-transform: initial;
 }
 
 :-moz-placeholder { 
    text-transform: initial;
 }
 
 ::-moz-placeholder {  
    text-transform: initial;
 }
 
 :-ms-input-placeholder { 
    text-transform: initial;
 }