@import '../../../assets/breakpoint/breakpoints.scss';

.completed-btn {
  background-color: #87d068;
  border-color: #87d068;
  margin-left: 12px;
  float: right;
  margin-bottom: 24px;
}

.create-btn {
  background-color: #87d068;
  border-color: #87d068;
  margin-left: 12px;
  float: right;
  margin-bottom: 24px;
}

.cancelled-btn {
  margin-left: 12px;
  float: right;
  margin-bottom: 24px;
}

.reserved-btn {
  margin-left: 12px;
  float: right;
  margin-bottom: 24px;
}

.view-btn {
  margin-left: 12px;
  float: right;
  margin-bottom: 24px;
}

.pagination-section {
    margin-top: 1%;
    float: right;
}

.search-box {
    padding: 8px;
}

.search-box input {
  width: 188px;
  margin-bottom: 8px;
  display: block;
}

.search-box button {
  width: 90px;
}

.search-button {
  margin-right: 8px;
}

.mobile-col {
  @include breakpoint-lg-down() {
    display: none;
  }
}

tr:nth-child(2n) {
  background: #fbfbfb;
}