<div class="home" [ngClass]="{'noscroll': menuOpen}" #full>
  <!-- header -->
  <div class="header" #header>
    <div class="menu-title">
      <app-landing-title type="2" title="LITTLE VIET" color="#f3eacd"></app-landing-title>
    </div>
  </div>

  <app-cart-button></app-cart-button>
  
  <div #menuBtn>
    <app-menu-button [(menuOpen)]="menuOpen" [isDisplayBackground]="true"></app-menu-button>
  </div>

  <div class="login-section" [style.height]="scrHeight > 0 ? scrHeight + 'px' : 'auto'">
    <div class="login-area-title">SIGN IN</div>
    <form *ngIf="!loginInfo || loginInfo.token == null" class="login-form" [formGroup]="loginFormGroup" (submit)="onLoginSubmit()">
      <div class="registered-title">I'M ALREADY REGISTERED</div>
      <mat-form-field class="email-field" appearance="fill">
        <mat-label>Email address</mat-label>
        <input type="email" matInput [formControl]="emailFormControl" name="email" placeholder="Ex. pat@example.com">
        <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
          Please enter a valid email address
        </mat-error>
        <mat-error *ngIf="emailFormControl.hasError('required')">
          Email is <strong>required</strong>
        </mat-error>
      </mat-form-field>
      <mat-form-field class="password-field" appearance="fill">
        <mat-label>Password</mat-label>
        <input type="password" matInput [formControl]="passwordFormControl" placeholder="Ex. 123456">
        <mat-error *ngIf="passwordFormControl.hasError('required')">
          Password is <strong>required</strong>
        </mat-error>
      </mat-form-field>
      <div class="forgot-password">Forgot your password?</div>
      <button type="submit" [disabled]="loginFormGroup.invalid"
        [ngClass]="loginFormGroup.invalid ? 'login-btn-inactive': 'login-btn-active'" class="login-btn">
        SIGN IN
      </button>
    </form>

    <div *ngIf="loginInfo && loginInfo.token" class="f-modal-alert">
      <div class="f-modal-icon f-modal-success animate">
        <span class="f-modal-line f-modal-tip animateSuccessTip"></span>
        <span class="f-modal-line f-modal-long animateSuccessLong"></span>
        <div class="f-modal-placeholder"></div>
        <div class="f-modal-fix"></div>
      </div>
      <div class="title">WELCOME TO LITTLE VIET, {{loginInfo.firstname | uppercase}}!</div>
    </div>
  </div>

  <!-- Footer -->
  <div #footerPlaceHolder [style.height]="footerHeight > 0 ? footerHeight + 'px' : 'auto'" class="footer-place-holder"></div>
  <div #footer class="footer-area">
    <app-footer [isDisplayLogo]="false"></app-footer>
  </div>
</div>

<app-progress-spinner *ngIf="(authActionsObs | async)!.length > 0"></app-progress-spinner>

