@import '../../../../assets/breakpoint/breakpoints.scss';
.container {
    width: 100%;
}

.product-type {
    font-family: 'amano';
    font-size: 55px;
    @include breakpoint-lg-down() {
        font-size: 27px;
    }
}

.wave-line {
    margin-top: 1%;
}

.menu-item {
    margin-top: 5%;
}

.name-section {
    display: flex;
}

.name {
    font-weight: 600;
    font-size: 21px;
    width: 80%;
    @include breakpoint-lg-down() {
        font-size: 12px;
    }
}

.left-name {
    float: left;
}

.right-name {
    overflow: auto;
    padding: 0 1%;
    height: 100%;

    .divider {
        width: 100%;
        display: inline-block;
        font-weight: 600;
    }
}

.price {
    font-size: 21px;
    font-weight: 600;
    @include breakpoint-lg-down() {
        font-size: 12px;
    }
}


.other-name {
    font-size: 17px;
    margin-top: 4px;
    @include breakpoint-lg-down() {
        font-size: 12px;
    }
}

.mat-divider {
    border-top-color: #000000;
}
