<div *ngIf="products" class="container">
  <div class="product-type">
    {{ productType }}
  </div>
  <div class="wave-line">
    <img src="assets/imgs/wave-line.png" alt="">
  </div>
  <div class="menu-item">
    <div fxLayout="row wrap" class="item-layout" fxLayoutAlign="flex-start">
      <div class="product-item-layout" *ngFor="let product of products" fxFlex="0 1 calc(50% - 32px)" fxFlex.lt-sm="0 1 calc(100%)" >
        <div class="name-section">
          <div class="name">
            <div class="left-name">
              {{product.name}}
            </div>
            <div class="right-name">
              <mat-divider class="divider"></mat-divider>
            </div>
          </div>
          <div class="price">{{product.price}}&#8364;</div>
        </div>
        
        <div class="other-name">{{product.esName}}</div>
        <div class="other-name">{{product.caName}}</div>
      </div>
    </div>
  </div>
</div>