<div *ngIf="product != null" class="main-frame">
  <div class="title">Product information:</div>
  <div class="left-layout">

    <!-- Empty images -->
    <div *ngIf="galleryImages == null || galleryImages.length == 0">
      <nz-empty
        nzNotFoundImage="https://gw.alipayobjects.com/zos/antfincdn/ZHrcdLPrvN/empty.svg"
        [nzNotFoundContent]="contentTpl"
        [nzNotFoundFooter]="footerTpl"
      >
        <ng-template #contentTpl>
          <span>
            This product haven't had any image yet
          </span>
        </ng-template>
        <ng-template #footerTpl>
          <nz-upload
            nzType="drag"
            nzMultiple="true"
            nzListType="picture"
            [nzFileType]="'image/png,image/jpeg,image/gif,image/bmp'"
            [nzAccept]="'image/png,image/jpeg,image/gif,image/bmp'"
            [(nzFileList)]="listImgs"
            [nzBeforeUpload]="beforeUpload"
          >
            <p class="ant-upload-drag-icon">
              <i nz-icon nzType="inbox"></i>
            </p>
            <p>Click or drag file to this area to upload</p>
            <p>Support for a single or bulk upload.</p>
          </nz-upload>
          <button (click)="uploadImage()" class="upload-btn" [hidden]="!listImgs || listImgs.length <= 0" nz-button nzType="primary">Upload</button>
        </ng-template>
      </nz-empty>
    </div>

    <!-- Having images -->
    <nz-tabset *ngIf="galleryImages != null && galleryImages.length > 0">
      <nz-tab [nzTitle]="titleTemplate">
        <ng-template #titleTemplate>
          <i nz-icon nzType="file-image"></i>
          Images
        </ng-template>
        <ngx-gallery [options]="galleryOptions" [images]="galleryImages"></ngx-gallery>
      </nz-tab>
      <nz-tab [nzTitle]="editTemplate">
        <ng-template #editTemplate>
          <i nz-icon nzType="edit"></i>
          Edit
        </ng-template>
        <div class="edit-frame">
          <div class="edit-section">
            <div class="existed-photos" *ngFor="let photo of product.productImages">
              <img src="{{photo.url}}" class="img-thumbnail" alt="">
              <div class="action-bar">
                <button nz-button nzType="primary" [nzLoading]="false" [disabled]="photo.isMain"
                  [ngClass]="photo.isMain ? 'btn-success active' : 'btn-secondary'"
                  [nzLoading]="(adminActionsObs | async)!.length > 0"
                  (click)="setMainImage(photo.id)">
                  Main
                </button>
                <button nzDanger class="btn-delete" nz-button nzType="primary" [disabled]="photo.isMain"
                  (click)="deleteImage(photo.id)">
                  <i nz-icon nzType="delete" nzTheme="outline"></i>
                </button>
              </div>
            </div>
          </div>
          <div class="upload-title">
            <div class="title">Add Images</div>
            <button nz-button nzType="primary" [disabled]="listImgs.length <= 0"
              [nzLoading]="(adminActionsObs | async)!.length > 0"
              (click)="uploadImage()">
              Upload
            </button>
          </div>
          <nz-upload class="upload-action"
            nzType="drag"
            nzMultiple="true"
            nzListType="picture"
            [nzFileType]="'image/png,image/jpeg,image/gif,image/bmp'"
            [nzAccept]="'image/png,image/jpeg,image/gif,image/bmp'"
            [(nzFileList)]="listImgs"
            [nzBeforeUpload]="beforeUpload"
          >
            <p class="ant-upload-drag-icon">
              <i nz-icon nzType="inbox"></i>
            </p>
            <p >Click or drag file to this area to upload</p>
            <p >
              Support for a single or bulk upload.
            </p>
          </nz-upload>
        </div>
      </nz-tab>
    </nz-tabset>
  </div>
  <div class="right-layout">
    <form nz-form [formGroup]="productFG">
      <!-- Name -->
      <nz-form-item>
        <nz-form-label [nzSpan]="7" nzRequired>Name</nz-form-label>
        <nz-form-control [nzSpan]="12" nzHasFeedback nzValidatingTip="Validating..." [nzErrorTip]="nameErrorTpl">
          <input nz-input formControlName="name" placeholder="Product's name" type="text" />
          <ng-template #nameErrorTpl let-control>
            <ng-container *ngIf="control.hasError('required')">Please input product's name!</ng-container>
          </ng-template>
        </nz-form-control>
      </nz-form-item>
  
      <!-- Es name -->
      <nz-form-item>
        <nz-form-label [nzSpan]="7" nzRequired>Es name</nz-form-label>
        <nz-form-control [nzSpan]="12" nzHasFeedback [nzErrorTip]="esNameErrorTpl">
          <input nz-input formControlName="esName" placeholder="Product's es name" type="text" />
          <ng-template #esNameErrorTpl let-control>
            <ng-container *ngIf="control.hasError('required')">Please input product's es name!</ng-container>
          </ng-template>
        </nz-form-control>
      </nz-form-item>
  
      <!-- Ca name -->
      <nz-form-item>
        <nz-form-label [nzSpan]="7" nzRequired>Ca name</nz-form-label>
        <nz-form-control [nzSpan]="12" nzHasFeedback [nzErrorTip]="caNameErrorTpl">
          <input nz-input formControlName="caName" placeholder="Product's ca name" type="text" />
          <ng-template #caNameErrorTpl let-control>
            <ng-container *ngIf="control.hasError('required')">Please input product's ca name!</ng-container>
          </ng-template>
        </nz-form-control>
      </nz-form-item>

      <!-- Product type -->
      <nz-form-item>
        <nz-form-label [nzSpan]="7" nzRequired>Product type</nz-form-label>
        <nz-select *ngIf="allProductTypes && allProductTypes.length >= 0" nz-col [nzSpan]="12" nzShowSearch nzAllowClear
          nzPlaceHolder="Select a product type" formControlName="productTypeId">
          <nz-option  *ngFor="let productType of allProductTypes" nzLabel="{{productType.name}}"
            nzValue="{{productType.id}}">
          </nz-option>
        </nz-select>
      </nz-form-item>
  
      <!-- Description -->
      <nz-form-item>
        <nz-form-label [nzSpan]="7" nzRequired>Description</nz-form-label>
        <nz-form-control [nzSpan]="12" nzHasFeedback [nzErrorTip]="descriptionErrorTpl">
          <input nz-input formControlName="description" placeholder="Product's description" type="text" />
          <ng-template #descriptionErrorTpl let-control>
            <ng-container *ngIf="control.hasError('required')">Please input product's description!</ng-container>
          </ng-template>
        </nz-form-control>
      </nz-form-item>
  
      <!-- Status -->
      <nz-form-item>
        <nz-form-label [nzSpan]="7">Status</nz-form-label>
        <nz-tag *ngIf="product.status == 'InStock'" class="tag-status" nzColor="success">{{product.status}}</nz-tag>
        <nz-tag *ngIf="product.status == 'OutOfStock'" class="tag-status" nzColor="error">{{product.status}}</nz-tag>
  
        <button *ngIf="product.status != 'InStock'" class="completed-btn" nz-button nzType="primary"
          [nzLoading]="(adminActionsObs | async)!.length > 0" nz-popconfirm
          nzPopconfirmTitle="Are you sure this product is in stock?" nzPopconfirmPlacement="bottom"
          (nzOnConfirm)="onUpdateStatus('InStock')">
          In stock
        </button>
        <button *ngIf="product.status != 'OutOfStock'" class="cancelled-btn" nz-button nzType="primary" nzDanger
          [nzLoading]="(adminActionsObs | async)!.length > 0" nz-popconfirm
          nzPopconfirmTitle="Are you sure this product is out of stock?" nzPopconfirmPlacement="bottom"
          (nzOnConfirm)="onUpdateStatus('OutOfStock')">
          Out of stock
        </button>
      </nz-form-item>

      <!-- Servings -->
      <nz-form-item>
        <nz-form-label [nzSpan]="7">Servings</nz-form-label>
        <div formArrayName="servings" nz-row [nzGutter]="[0, 16]" [nzPush]="i == 0 ? 0 : 7" nz-col [nzSpan]="17"
          *ngFor="let serving of servings.controls; let i = index">
          <div class="product-servings" [formGroupName]="i">
            <!-- Name -->
            <nz-form-control [nzSpan]="10" [nzErrorTip]="nameErrorTpl">
              <input nz-input type="text" formControlName="name" placeholder="Name"/>
              <ng-template #nameErrorTpl let-control>
                <ng-container *ngIf="control.hasError('required')">Required!</ng-container>
              </ng-template>
            </nz-form-control>

            <!-- No of people -->
            <nz-form-control [nzSpan]="5" class="serving-no-people" [nzErrorTip]="noPeopleErrorTpl">
              <nz-input-number
                formControlName="numberOfPeople"
                nzPlaceHolder="No people"
                [nzMin]="1"
                [nzMax]="10"
                [nzStep]="1"
                [nzFormatter]="formatterPeople"
                [nzParser]="parserPeople"
              ></nz-input-number>
              <ng-template #noPeopleErrorTpl let-control>
                <ng-container *ngIf="control.hasError('required')">Required!</ng-container>
              </ng-template>
            </nz-form-control>

            <!-- Price -->
            <nz-form-control [nzSpan]="5" class="serving-price" [nzErrorTip]="priceErrorTpl">
              <nz-input-number
                formControlName="price"
                nzPlaceHolder="Price"
                [nzMin]="1"
                [nzMax]="1000"
                [nzStep]="1"
                [nzFormatter]="formatterEuro"
                [nzParser]="parserEuro"
              ></nz-input-number>
              <ng-template #priceErrorTpl let-control>
                <ng-container *ngIf="control.hasError('required')">Required!</ng-container>
              </ng-template>
            </nz-form-control>

            <!-- Action -->
            
            <ng-container *ngIf="!isNewServing(i)">
              <!-- Edit btn -->
              <nz-form-control [nzSpan]="2" [hidden]="isEditMode(i)">
                <button nz-button nzType="primary" (click)="enable(i)">
                  <i nz-icon nzType="edit" nzTheme="outline"></i>
                </button>
              </nz-form-control>

               <!-- Save btn -->
              <nz-form-control [nzSpan]="2" [hidden]="!isEditMode(i)">
                <button nz-button nzShape="circle" [nzLoading]="(adminActionsObs | async)!.length > 0"
                  (click)="updateServing(i)">
                  <i style="color: green;" nz-icon nzType="check" nzTheme="outline"></i>
                </button>
              </nz-form-control>

              <!-- Cancel edit btn -->
              <nz-form-control [nzSpan]="2" [hidden]="!isEditMode(i)">
                <button nzDanger nz-button (click)="resetAServing(i)" nzShape="circle">
                  <i nz-icon nzType="close" nzTheme="outline"></i>
                </button>
              </nz-form-control>

              <!-- Delete btn -->
              <nz-form-control [nzSpan]="2" [hidden]="isEditMode(i)">
                <button nz-button nzDanger nzType="primary" nz-popconfirm
                  nzPopconfirmTitle="Are you sure delete this serving?" nzPopconfirmPlacement="bottom"
                  (nzOnConfirm)="deleteServing(i)" [nzLoading]="(adminActionsObs | async)!.length > 0">
                  <i nz-icon nzType="delete" nzTheme="outline"></i>
                </button>
              </nz-form-control>
            </ng-container>

            <ng-container *ngIf="isNewServing(i)">
              <!-- Create new btn -->
              <nz-form-control [nzSpan]="2" >
                <button style="background-color: green;" nz-button nzType="primary"
                  [nzLoading]="(adminActionsObs | async)!.length > 0" (click)="addNewServing(i)">
                  <i nz-icon nzType="save" nzTheme="outline"></i>
                </button>
              </nz-form-control>

              <!-- Delete btn -->
              <nz-form-control [nzSpan]="2" >
                <button nz-button nzDanger nzType="primary" (click)="removeField(i)">
                  <i nz-icon nzType="delete" nzTheme="outline"></i>
                </button>
              </nz-form-control>
            </ng-container>
            
          </div>
        </div>

        <nz-form-item nz-col [nzSpan]="24">
          <nz-form-control [nzOffset]="7" [nzSpan]="17" >
            <button nz-button nzType="dashed" class="add-button" (click)="addField($event)">
              <i nz-icon nzType="plus"></i>
              Add field
            </button>
          </nz-form-control>
        </nz-form-item>
      </nz-form-item>
  
      <!-- Submit button -->
      <nz-form-item>
        <nz-form-control style="display: flex;" [nzOffset]="7" [nzSpan]="7">
          <button nz-button [nzLoading]="(adminActionsObs | async)!.length > 0" nzType="primary"
            [disabled]="!productFG.valid || !productFG.dirty" nz-popconfirm
            nzPopconfirmTitle="Are you sure save this product?" nzPopconfirmPlacement="bottom"
            (nzOnConfirm)="submitForm()">Save</button>
          <button class="reset-button" [hidden]="!productFG.dirty" nz-button (click)="resetForm($event)">Reset</button>
        </nz-form-control>
      </nz-form-item>
    </form>
  </div>
</div>
