@import '../../../../assets/breakpoint/breakpoints.scss';

.main-frame {
    display: flex;
    flex-wrap: wrap;
    height: auto;

    .title {
        width: 100%;
        font-weight: 600;
    }

    .left-layout {
        min-width: 50%;
        max-width: 50%;
        height: 100% !important;

        @include breakpoint-lg-down() {
            min-width: 100%;
            max-width: 100%;
        }

        .upload-btn {
            float: right;
            margin-top: 12px;
        }

        [nz-carousel-content] {
            text-align: center;
            height: 160px;
            line-height: 160px;
            background: #364d79;
            color: #fff;
            overflow: hidden;
        }

        .edit-frame {
            display: flex;
            flex-wrap: wrap;
            height: auto;

            .edit-section {
                width: 100%;
                display: flex;
                flex-wrap: wrap;

                .existed-photos {
                    width: fit-content;
                    margin-bottom: 12px;

                    .img-thumbnail {
                        height: 100px;
                        min-width: 110px !important;
                        padding: 4px;
                        margin-bottom: 2px;
                        border: 1px solid rgb(172, 169, 169);
                        border-radius: 3px;
                        margin-right: 12px;
                    }
    
                    .action-bar {
                        width: fit-content;
                        padding-top: 4px;
    
                        .btn-delete {
                            margin-left: 6px;
                        }
                    }
                }
            }

            .upload-title {
                margin-top: 24px;
                padding-bottom: 8px;
                width: 100%;
                display: flex;
                justify-content: space-between;

                .title {
                    font-weight: 500;
                    font-size: 22px;
                }
            }
            
            .upload-action {
                display: flex;
                flex-direction: column;
                width: 100%;
                height: auto;
            }
        }
    }

    .right-layout {
        width: 50%;
        padding-top: 50px;
        padding-bottom: 200px;

        @include breakpoint-lg-down() {
            width: 100%;
        }

        .tag-status {
            line-height: 32px;
        }
        
        .completed-btn {
            background-color: #87d068;
            border-color: #87d068;
            margin-left: 12px;
        }
        
        .cancelled-btn {
            margin-left: 12px;
        }
        
        .reserved-btn {
            margin-left: 12px;
        }
        
        .reset-button {
            margin-left: 12px; 
        }
        
        .completed-btn:hover {
            background-color: rgba(135, 208, 104, 0.6);
            border-color: #87d068;
        }

        .product-servings {
            display: flex;

            .serving-no-people {
                margin-right: 8px;
                margin-left: 8px;
            }

            .serving-price {
                margin-right: 8px;
            }
        }
    }
}

::ng-deep .ant-input-number-input {
    text-align: end !important;
    padding-right: 24px;
}

::ng-deep .ant-tabs-content {
    // min-height: 100vw;
    // max-height: 100vw;
}

::ng-deep .ngx-gallery-layout {
    height: 500px !important;
}