<nz-layout class="app-layout">
  <nz-sider class="menu-sidebar"
            nzCollapsible
            nzWidth="256px"
            nzBreakpoint="md"
            [hidden]="isCollapsed"
            [(nzCollapsed)]="isCollapsed"
            [nzTrigger]="null">
    <div class="sidebar-logo">
      <a target="_blank">
        <img src="favicon.png" alt="logo">
        <h1 *ngIf="loginInfo != null">Little Viet - {{loginInfo.firstname}}</h1>
      </a>
    </div>
    <ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="false">
      <li nz-submenu nzOpen nzTitle="Dashboard" nzIcon="dashboard">
        <ul>
          <li nz-menu-item routerLinkActive="active" [routerLinkActiveOptions]="{exact: false}">
            <a routerLink="/admin/products" [queryParams]="{ pageNumber: '1', pageSize: '10'}">Products</a>
          </li>
          <li nz-menu-item routerLinkActive="active" [routerLinkActiveOptions]="{exact: false}">
            <a routerLink="/admin/product-types" [queryParams]="{ pageNumber: '1', pageSize: '10'}">Product types</a>
          </li>
          <li nz-menu-item routerLinkActive="active" [routerLinkActiveOptions]="{exact: false}">
            <a routerLink="/admin/reservations" [queryParams]="{ pageNumber: '1', pageSize: '10'}">Reservations</a>
          </li>
          <li nz-menu-item routerLinkActive="active" [routerLinkActiveOptions]="{exact: false}">
            <a routerLink="/admin/orders" [queryParams]="{ pageNumber: '1', pageSize: '10'}">Take away</a>
          </li>
        </ul>
      </li>
      <li nz-submenu nzOpen nzTitle="Tasks" nzIcon="form">
        <ul>
          <li routerLink="/admin/pick-up-task" nz-menu-item routerLinkActive="active" [routerLinkActiveOptions]="{exact: false}">
            <nz-badge *ngIf="unhandledTask && unhandledTask.newPickupOrderCount > 0" [nzCount]="unhandledTask.newPickupOrderCount">
              <a class="unhandled-noti" >Pick up</a>
            </nz-badge>
            <a *ngIf="!unhandledTask || unhandledTask.newPickupOrderCount <= 0" routerLink="/admin/pick-up-task">Pick up</a>
          </li>
          <li routerLink="/admin/check-in-reservation-task" nz-menu-item routerLinkActive="active" [routerLinkActiveOptions]="{exact: false}">
            <nz-badge *ngIf="unhandledTask && unhandledTask.newReservationCount > 0" [nzCount]="unhandledTask.newReservationCount">
              <a class="unhandled-noti">Check in reservation</a>
            </nz-badge>
            <a *ngIf="!unhandledTask || unhandledTask.newReservationCount <= 0" routerLink="/admin/check-in-reservation-task">Check in reservation</a>
          </li>
          <li routerLink="/admin/use-coupon-task" nz-menu-item routerLinkActive="active" [routerLinkActiveOptions]="{exact: false}">
            <a>Use coupon</a>
          </li>
        </ul>
      </li>

      <li class="logout-item" (click)="logout()">
        Log out
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header>
      <div class="app-header">
        <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
            <i class="trigger"
                nz-icon
                [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
            ></i>
        </span>
      </div>
    </nz-header>
    <nz-content>
      <nz-breadcrumb [nzAutoGenerate]="true">
      </nz-breadcrumb>
      <div class="inner-content">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>
