<div class="close-btn-area" mat-dialog-close (click)="close()">
	<mat-icon mat-icon class="close-btn">close</mat-icon>
</div>

<div class="f-modal-alert">
	<div class="f-modal-icon f-modal-error animate">
		<span class="f-modal-x-mark">
			<span class="f-modal-line f-modal-left animateXLeft"></span>
			<span class="f-modal-line f-modal-right animateXRight"></span>
		</span>
		<div class="f-modal-placeholder"></div>
		<div class="f-modal-fix"></div>
	</div>
  <div class="title">Server error: {{data.message}}!</div>
</div>
