<div class="footer-section">
  <img *ngIf="isDisplayLogo" class="logo" src="assets/imgs/landing-page/logo-footer.png" alt="">
    
  <div class="address" >
    CARRE DE CARTAGENA, 328, 08025 BARCELONA
  </div>

  <div class="open-time">
    <div class="title"> OPEN</div>

    <div class="time" >
      13:00 - 16:00 + 20:00 - 23:00
    </div>

    <div class="day-of-week" >
      Mon Wed Thu Fri Sat Sun
    </div>
  </div>

  <div class="contact">
    <div class="insta">
      <img src="assets/imgs/landing-page/insta-icon.png" alt="">
      Littleviet.barcelona
    </div>

    <div class="phone">
      <img src="assets/imgs/landing-page/phone-icon.png" alt="">
      <a href="tel:671270969" class="phone-number">671 270 969</a> | <a href="tel:931757081" class="phone-number">931 757 081</a>
    </div>
  </div>    
</div>