<div [ngClass]="{'open': menuOpen}" class="menu-btn" (click)="clickBtn()">
  <div class="menu-btn__burger"></div>
</div>

<!-- The overlay -->
<div class="overlay" [ngClass]="{'overlay-open': menuOpen}">
  <!-- Overlay content -->
  <div class="overlay-content">
    <div class="menu-item">INTRODUCE</div>
    <div class="menu-item" >RESERVATIONS</div>
    <div class="menu-item" >MENU</div>
    <div class="menu-item">TAKE AWAY</div>
    <div class="menu-item">COUPON GIFT</div>
    <div class="menu-item">PRODUCTS</div>
    <div class="menu-item">CONTACT</div>
  </div>

</div>