<div class="close-btn-area" mat-dialog-close>
  <mat-icon mat-icon class="close-btn">close</mat-icon>
</div>
<div *ngIf="(couponBuyingSuccessObs | async) == null" class="coupon-confirm-dialog">
  <h1 mat-dialog-title class="coupon-confirm-title">BUY COUPON GIFT</h1>
  <div *ngIf="selectedCoupon != null" class="info-coupon">
    <div>{{selectedCoupon.name}}, {{selectedCoupon.value}} per unit VAT included</div>
    <div>Total: {{selectedCoupon.value * couponInfo.quantity}} VAT included</div>
    <div>Customer's information</div>
  </div>
  <div mat-dialog-content>
    <form (ngSubmit)="onSubmit()" [formGroup]="couponBuyingFG" class="coupon-form" name="hour-form">
      <!-- First name -->
      <mat-form-field class="left-field" appearance="fill">
        <mat-label>First name</mat-label>
        <input type="text" matInput formControlName="firstName" placeholder="First name">
        
        <mat-error *ngIf="firstNameFC.hasError('required')">
          First name is <strong>required</strong>
        </mat-error>
      </mat-form-field>

      <!-- Last name -->
      <mat-form-field class="right-field" appearance="fill">
        <mat-label>Last name</mat-label>
        <input type="text" matInput formControlName="lastName" placeholder="Last name">
       
        <mat-error *ngIf="lastNameFC.hasError('required')">
          Last name is <strong>required</strong>
        </mat-error>
      </mat-form-field>

      <!-- Email -->
      <mat-form-field class="left-field" appearance="fill">
        <mat-label>Email</mat-label>
        <input type="email" matInput formControlName="email" placeholder="Email">
        <mat-error *ngIf="emailFC.hasError('email') && !emailFC.hasError('required')">
          Please enter a valid email address
        </mat-error>
        <mat-error *ngIf="emailFC.hasError('required')">
          Email is <strong>required</strong>
        </mat-error>
      </mat-form-field>

       <!-- Phone number -->
       <mat-form-field class="right-field" appearance="fill">
        <mat-label>Phone</mat-label>
        <input type="email" matInput formControlName="phoneNumber" appPhoneMask placeholder="Phone number">
        <mat-error *ngIf="emailFC.hasError('required')">
          Phone number is <strong>required</strong>
        </mat-error>
      </mat-form-field>

       <!-- VAT -->
      <mat-form-field class="left-field" appearance="fill">
        <mat-label>CIF/VAT (Optional. If you need invoice)</mat-label>
        <input type="text" matInput formControlName="vat" placeholder="CIF/VAT (Optional. If you need invoice)">
      </mat-form-field>

      <div class="condition-frame">
        <mat-checkbox required class="condition-checkbox" formControlName="acceptCondition">
          I accept the conditions of use, privacy policy and legal notice.
        </mat-checkbox>
      </div>

      <div class="data-frame">
        <mat-checkbox required class="data-checkbox" formControlName="consentInfoConidtion">
          I consent to the processing of personal data.
        </mat-checkbox>
      </div>

      <div class="sms-frame">
        <mat-checkbox class="sms-checkbox">I consent to the reception of restaurant communications 
          by e-mail and / or SMS for commercial purposes.
        </mat-checkbox>
      </div>

      <div class="buy-btn-frame">
        <button [disabled]="!couponBuyingFG.valid" type="submit" class="coupon-btn"
        [ngClass]="!couponBuyingFG.invalid ? 'coupon-btn-active': 'coupon-btn-inactive'">
        BUY
      </button>
      </div>
    </form>

    <div class="coupon-policy">
      <div class="bold">Basic information about protection of personal data</div>
      <div>In compliance with the General Regulation of Protection of Personal Data, the interested party is informed of the following:</div>
      <div><span class="bold">Responsible:</span> Little Viet <span class="see-more">(See more)</span></div>
      <div><span class="bold">Purposes:</span> The attention of requests made by users about reservations.</div>
      <div>The inclusion in the contact list.</div>
      <div>The provision of services and the management of the commercial relationship.</div>
      <div>Management of duplicate reservations in different restaurants. <span class="see-more">(See more)</span></div>
      <div class="bold">Legitimation:</div>
      <div>Consent of the interested party. <span class="see-more">(See more)</span></div>
      <div>Execution of a contract in which the interested party is a party.</div>
      <div>The treatment is necessary for compliance with a legal obligation applicable to the controller.</div>
      <div class="bold">Assignments:</div>
      <div>Data transfers may be made for statistical purposes. <span class="see-more">(See more)</span></div>
      <div class="bold">Assignments:</div>
      <div>Rights Access, rectify and delete the data, request the portability of the same, 
        oppose the treatment and request the limitation of it. <span class="see-more">(See more)</span>
      </div>
    </div>
  </div>
</div>

<app-progress-spinner *ngIf="(couponActionsObs | async)!.length > 0"></app-progress-spinner>
