@import '../../../assets/breakpoint/breakpoints.scss';

.home {
    max-width: 100%;
    position: relative;
    
    @include breakpoint-lg-down() {
        max-width: 100%;
    }
}

.header {
    background-color: #c7a67a;
    height: 90px;
    width: 100%;
    position: absolute;
    top: 0;
    z-index: 1;
    
    @include breakpoint-lg-down() {
        height: 50px;
    }
}

.noscroll { 
    @include breakpoint-lg-down() {
        // position: fixed;
        // overflow: hidden;
    }
}

.top-background {
    padding: 0px;    
    background-color: #f3eacd;
}

.landing-page-1 {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.logo {
    top: 0;
    left: 50%;
    z-index: 2;
    position: absolute;
    margin-left: -125px;
    padding: 0px;
        
    img {
        max-width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.logo-lt-sm {
    margin-left: -62px;

    .img-lt-sm {
        max-height: 100px;
        height: 50%;
        object-fit: cover;
    }
}

// Reservation
.reservation-section {
    padding: 6% 0;
    height: auto;
    align-items: center;
    position: relative;
    background-color: #f3eacd;

    .content {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;

        .item {
            width: auto;
            height: auto;
            text-align: center;
            @include breakpoint-lg-down() {
                font-size: 15px;
            }
        }

        .booking-btn {
            background-color: #c7a67a;
            border: 1px solid #c7a67a;
            padding: 10px 20px;
            font-weight: 500;
            font-size: 17px;
        }

        .booking-btn:hover {
            cursor: pointer;
            background-color: #f3eacd;
        }

        .open-title {
            font-weight: 600;
        }

        .phone-number {
            font-weight: 600;
            font-size: 18px;
            background-color: #c7a67a;
            border: 1px solid #c7a67a;
            padding: 10px 25px;
            color: black;
        }
        
        .or-text {
            font-weight: 600;
            font-size: 18px;
            font-style: italic;
        }
    }
}

.menu-section {
    height: 100%;

    .menu-title {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        background-image: url('./../../../assets/imgs/landing-page/landing-page-2.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        width: 100%;
        height: 290px;
        @include breakpoint-lg-down() {
            width: 100%;
            height: 145px;
        }
    } 

    .content {
        height: auto;
        background-color: #c7a67a;
        margin-top: 0;

        .menu-slide {
            margin-left: 5%;
        }
    }
}


.title {
    width: auto;
    margin-bottom: 4%;
}

.time-title {
    font-size: 17px;
}

.section-margin {
    margin-top: 2%;
}

.bloc-margin {
    margin-top: 1%;
}

.item-margin {
    margin-top: 0.5%;
}

.pt-font {
    font-family: 'PT Sans', sans-serif;
    font-size: 16px;
}

.phone-margin {
    margin-top: 1.2%;
}

// Take away
.take-away-section {
    display: flex;
    height: auto;
    background-color: #f3eacd;
    padding-bottom: 6%;

    @include breakpoint-lg-down() {
        padding-bottom: 0;
    }

    .take-away-action {
        width: 45%;
        padding: 18% 0 0 8%;
        display: flex;
        flex-direction: column;
        align-items: center;

        @include breakpoint-lg-down() {
            width: 100%;
            padding-left: 0px;
            background-image: url('./../../../assets/imgs/landing-page/landing-page-3.jpg');
            padding-bottom: 30%;
        }

        .take-away-title {
            width: 100%;
        }
        
        .take-way-description-1 {
            font-family: 'amano';
            font-size: 23px;
            margin-top: 5%;

            @include breakpoint-lg-down() {
                color: #f3eacd;
            }
        }
        
        .take-way-description-2 {
            font-family: 'amano';
            font-size: 23px;
            margin-bottom: 6%;

            @include breakpoint-lg-down() {
                color: #f3eacd;
                margin-bottom: 9%;
            }
        }
        
        .order-online-btn {
            background-color: #f3eacd;
            border: 1px solid black;
            padding: 10px 20px;
            font-weight: 500;
            font-size: 17px;
        }
        
        .order-online-btn:hover {
            cursor: pointer;
            background-color: #c7a67a;
        }
    }

    .take-away-presentation {
        display: flex;
        height: auto;

        @include breakpoint-lg-down() {
            display: none;
        }
    
        .vertical-wave-line {
            margin-right: 6%;
            height: auto;
        }
    }
}

// Coupon
.coupon-section {
    display: flex;
    height: auto;
    background-color: #c9ac82;

    .coupon-presentation {
        display: flex;
        height: auto;
        width: 45%;
        padding-left: 8%;
        background-color: #efdfbd;

        @include breakpoint-lg-down() {
            display: none;
        }

        img {
            max-width: 100%;
        }
    }
    .coupon-action-information {
        width: 40%;

        @include breakpoint-lg-down() {
            width: 100%;
        }
        
        .coupon-action {
            padding: 25% 0 0 5%;
            display: flex;
            flex-direction: column;
            align-items: center;

            @include breakpoint-lg-down() {
                padding: 15% 0 0 0;
            }

            .coupon-title {
                width: 100%;
            }
            
            .coupon-description-1 {
                font-family: 'amano';
                font-size: 23px;
                margin-top: 5%;
                text-align: center;
            }
    
            .counpon-description {
                width: 68%;
    
                .coupon-description-2 {
                    font-family: 'amano';
                    font-size: 23px;
                    text-align: center;
                }
            }
    
            .buy-coupon-btn {
                background-color: #c9ac82;
                border: 1px solid black;
                padding: 10px 20px;
                font-weight: 500;
                font-size: 17px;
                margin-top: 10%;
            }
            
            .buy-coupon-btn:hover {
                cursor: pointer;
                background-color: #efdfbd;
            }
        }

        img {
            margin-top: 16%;
            @include breakpoint-lg-down() {
                max-width: 100%;
            }
        }
    }
}

// Product
.product-section {
    display: flex;
    height: auto;
    padding: 8% 0 7% 0;
    align-items: center;
    flex-direction: column;
    background-color: #f3eacd;

    .item-layout {
        width: 100%;
        padding: 0 13%;
        margin-top: 5%;

        @include breakpoint-lg-down() {
            padding: 0 8%;
        }

        .product-item-layout {
            margin: 0 24px 32px 24px;

            @include breakpoint-lg-down() {
                margin-bottom: 16px;
            }

            .product-item {
                width: 100%;
                height: 100%;

                @include breakpoint-lg-down() {
                    height: auto;
                }

                img {
                    width: 100%;
                    height: 70%;
                }
    
                .name {
                    font-weight: 600;
                    font-size: 21px;
                    margin-top: 6%;

                    @include breakpoint-lg-down() {
                        font-size: 12px;
                        text-align: center;
                        margin-top: 3%;
                    }
                }
                
                .other-name {
                    margin-top: 1%;
                    font-size: 17px;

                    @include breakpoint-lg-down() {
                        font-size: 11px;
                        text-align: center;
                    }
                }
            }
        }
    }
}

// Footer
.footer-place-holder {
	background: transparent;
}

.footer-area {
	position: fixed;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: -1;
	background: transparent;
}