<div class="home" [ngClass]="{'noscroll': menuOpen}">
  <!-- header -->
  <div class="header">
  </div>

  <div #menuBtn>
    <app-menu-button [(menuOpen)]="menuOpen"></app-menu-button>
  </div>

  <!-- logo -->
  <div class="logo" ngClass.lt-sm="logo-lt-sm">
    <img ngClass.lt-sm="img-lt-sm" src="assets/imgs/landing-page/logo.jpg" alt="">
  </div>

  <!-- top background -->
  <div class="top-background">
    <img class="landing-page-1" src="assets/imgs/landing-page/landing-page-1.png" alt="">
  </div>

  <!-- Reservation section -->
  <div id="reservation" class="reservation-section">
    <div class="title">
      <app-landing-title title="{{'landingPage.reservation.title' | translate }}"></app-landing-title>
    </div>
    <div class="content">
      <div class="item">
        <button routerLink="/reservation" class="booking-btn">{{ 'landingPage.reservation.bookBtn' | translate }}</button>
      </div>

      <div class="item open-title section-margin">{{ 'landingPage.reservation.open' | translate }}</div>
      <div class="item time-title bloc-margin">13:00 - 16:00</div>
      <div class="item time-title item-margin">20:00 - 23:00</div>
      <div class="item time-title item-margin">{{ 'landingPage.reservation.days' | translate }}</div>
      <div class="item open-title section-margin">{{ 'landingPage.reservation.close' | translate }}</div>
      <div class="item time-title bloc-margin">{{ 'landingPage.reservation.tuesday' | translate }}</div>
      <div class="item section-margin">
        <p class="pt-font">{{ 'landingPage.reservation.description1' | translate }}</p>
        <p class="pt-font item-margin">{{'landingPage.reservation.description2' | translate }}</p>
        <p class="pt-font item-margin">{{ 'landingPage.reservation.description3' | translate }}</p>
        <p class="pt-font section-margin">{{ 'landingPage.reservation.description4' | translate }}</p>
      </div>

      <div class="item section-margin">
        <a href="tel:671270969" class="phone-number">671 270 969</a>
      </div>

      <div class="item phone-margin">
        <div class="or-text">or</div>
      </div>
      
      <div class="item phone-margin">
        <a href="tel:931757081" class="phone-number">931 757 081</a>
      </div>
    </div>
  </div>

  <!-- Menu -->
  <div id="menu" class="menu-section">
    <div class="menu-title">
      <app-landing-title type="2" title="{{ 'landingPage.menu.title' | translate }}" color="#f3eacd"></app-landing-title>
    </div>
    <div class="content">
      <owl-carousel-o #owlElement [options]="carouselOptions">
        <ng-container *ngFor="let productType of productsMenu; let i= index;">
          <ng-template [dotContent]="(i + 1).toString()" carouselSlide >
            <app-menu-slide class="menu-slide" [products]="productType.products"
              [productType]="productType.esName + ' / ' + productType.name">
            </app-menu-slide>
          </ng-template>
        </ng-container>
      </owl-carousel-o>
    </div>
  </div>

  <!-- Take away -->
  <div id="take-away" class="take-away-section">
    <div class="take-away-action">
      <div class="take-away-title">
        <app-landing-title title="{{ 'landingPage.takeaway.title' | translate }}" type="{{takeAwayTitleType}}"></app-landing-title>
      </div>
      <div class="take-way-description-1">{{ 'landingPage.takeaway.description1' | translate }}</div>
      <div class="take-way-description-2">{{ 'landingPage.takeaway.description2' | translate }}</div>
      <button *ngIf="today != 2" routerLink="/take-away" class="order-online-btn">{{ 'landingPage.takeaway.orderOnline' | translate }}</button>
      <button *ngIf="today == 2" (click)="isBookingClick = true" class="order-online-btn">{{ 'landingPage.takeaway.orderOnline' | translate }}</button>
      <div *ngIf="isBookingClick" class="close-warning"><i nz-icon nzType="warning" class="icon" nzTheme="fill"></i> {{ 'landingPage.takeaway.closeWarning' | translate }} </div>
    </div>
    <div class="take-away-presentation">
      <div class="vertical-wave-line" >
        <img src="assets/imgs/landing-page/vertical-wave-line.png" alt="">
      </div>
      <img src="assets/imgs/landing-page/landing-page-3.jpg" alt="">
    </div>
  </div>

  <!-- Coupon gift -->
  <div id="coupon-gift" class="coupon-section">
    <div class="coupon-border">
    </div>
    <div class="coupon-presentation">
      <img src="assets/imgs/landing-page/landing-page-4.jpg" alt="">
    </div>
    <div class="coupon-action-information">
      <div class="coupon-action">
        <div class="coupon-title">
          <app-landing-title title="{{ 'landingPage.couponGift.title' | translate }}"></app-landing-title>
        </div>
        <div class="counpon-description">
          <div class="coupon-description-1">{{ 'landingPage.couponGift.description1' | translate }}</div>
          <div class="coupon-description-2">{{ 'landingPage.couponGift.description2' | translate }}</div>
        </div>
        <button routerLink="/coupon-gift" class="buy-coupon-btn">{{ 'landingPage.couponGift.orderOnline' | translate }}</button>
      </div>
      <img src="assets/imgs/landing-page/horizontal-wave-line.png" alt="">
    </div>
  </div>

  <!-- products section -->
  <div id="products" class="product-section">
    <div class="product-title">
      <app-landing-title title="{{ 'landingPage.product.title' | translate }}"></app-landing-title>
    </div>
    <div class="item-layout" fxLayout="row wrap" fxLayoutAlign="center">
      <div class="product-item-layout" *ngFor="let product of packagedProducts" fxFlex="0 1 calc(33% - 48px)" fxFlex.lt-sm="0 1 calc(100%)" >
        <div class="product-item">
          <img src="{{ product.imageUrl || 'assets/imgs/landing-page/landing-page-5.jpg' }}" alt="">
          <div class="name">{{ product.name }}</div>
          <div class="other-name">{{ product.esName }}</div>
          <div class="other-name">{{ product.caName }}</div>
        </div>
      </div>
    </div>
  </div>

  <div #footerPlaceHolder [style.height]="footerHeight > 0 ? footerHeight + 'px' : 'auto'" class="footer-place-holder"></div>
  <!-- footer section -->
  <div #footer class="footer-area">
    <app-footer id="contact"></app-footer>
  </div>
</div>
