<div class="home" [ngClass]="{'noscroll': menuOpen}">
  <!-- header -->
  <div class="header" ngClass.lt-sm="header-lt-sm">
  </div>

  <div class="menu-btn-section">
    <div [ngClass]="{'open': menuOpen}" class="menu-btn" (click)="clickBtn()">
      <div class="menu-btn__burger"></div>
    </div>
  </div>

  <!-- The overlay -->
  <div class="overlay" [ngClass]="{'overlay-open': menuOpen}">
    <div class="overlay-content">
      <div class="menu-btn-title">INTRODUCE</div>
      <div class="divider-border">
        <mat-divider class="divider-1"></mat-divider>
        <mat-divider class="divider-2"></mat-divider>
      </div>
      <div class="menu-item" >RESERVATIONS</div>
      <div class="menu-item" >MENU</div>
      <div class="menu-item">TAKE AWAY</div>
      <div class="menu-item">COUPON GIFT</div>
      <div class="menu-item">PRODUCTS</div>
      <div class="menu-item">CONTACT</div>
    </div>
  </div>

  <!-- logo -->
  <div class="logo" ngClass.lt-sm="logo-lt-sm">
    <img ngClass.lt-sm="img-lt-sm" src="assets/imgs/logo.jpg" alt="">
  </div>

  <!-- top background -->
  <div class="top-background">
    <img class="landing-page-1" src="assets/imgs/landing-page-1.png" alt="">
  </div>

  <!-- Reservation section -->
  <div class="reservation-section">
    <div class="title">
      <app-landing-title title="MAKE A RESERVATION"></app-landing-title>
    </div>
    <div class="content">
      <div class="item">
        <button class="booking-btn">BOOK TABLE NOW</button>
      </div>

      <div class="item open-title section-margin">OPEN</div>
      <div class="item time-title bloc-margin">13:00 - 16:00</div>
      <div class="item time-title item-margin">20:00 - 23:00</div>
      <div class="item time-title item-margin">Monday Wednesday Thursday Friday Saturday Sunday</div>
      <div class="item open-title section-margin">CLOSE</div>
      <div class="item time-title bloc-margin">Tuesday</div>
      <div class="item section-margin">
        <p class="pt-font">Make a reservation and come to enjoy a unique food.</p>
        <p class="pt-font item-margin">Your reservation will be annuled because of delay without informing us, after 15 minutes.</p>
        <p class="pt-font item-margin">We have child chairs, but please let us know if you bring baby carriage and you need space.</p>
        <p class="pt-font section-margin">For more request or information, please call:</p>
      </div>

      <div class="item section-margin">
        <div class="phone-number">671 270 969</div>
      </div>

      <div class="item phone-margin">
        <div class="or-text">or</div>
      </div>
      
      <div class="item phone-margin">
        <div class="phone-number">931 757 081</div>
      </div>
    </div>
  </div>

  <!-- Menu -->
  <div class="menu-section">
    <div class="menu-title">
      <app-landing-title type="2" title="MENU" color="#f3eacd"></app-landing-title>
    </div>
    <div class="content">
      <owl-carousel-o #owlElement [options]="carouselOptions">
        <ng-container *ngFor="let productType of productsMenu; let i= index; first as isFirst">
          <ng-template [dotContent]="(i + 1).toString()" carouselSlide >
            <app-menu-slide [productType]="productType.esName + ' / ' + productType.name" [products]="productType.products"></app-menu-slide>
          </ng-template>
        </ng-container>
      </owl-carousel-o>
    </div>
  </div>

  <!-- Take away -->
  <div class="take-away-section">
    <div class="take-away-action">
      <div class="take-away-title">
        <app-landing-title title="TAKE AWAY" type="{{takeAwayTitleType}}"></app-landing-title>
      </div>
      <div class="take-way-description-1">Want to enjoy our dishes at home?</div>
      <div class="take-way-description-2">Please order here.</div>
      <button class="order-online-btn">ORDER ONLINE</button>
    </div>
    <div class="take-away-presentation">
      <div class="vertical-wave-line" >
        <img src="assets/imgs/vertical-wave-line.png" alt="">
      </div>
      <img src="assets/imgs/landing-page-3.jpg" alt="">
    </div>
  </div>

  <!-- Coupon gift -->
  <div class="coupon-section">
    <div class="coupon-border">
    </div>
    <div class="coupon-presentation">
      <img src="assets/imgs/landing-page-4.jpg" alt="">
    </div>
    <div class="coupon-action-information">
      <div class="coupon-action">
        <div class="coupon-title">
          <app-landing-title title="COUPON GIFT"></app-landing-title>
        </div>
        <div class="counpon-description">
          <div class="coupon-description-1">You loved visiting us and want somebody special to enjoy in Little Viet?</div>
          <div class="coupon-description-2">Buy online our coupon gift and receive it instantly by email.</div>
        </div>
        <button class="buy-coupon-btn">BUY COUPON GIFT</button>
      </div>
      <img src="assets/imgs/horizontal-wave-line.png" alt="">
    </div>
  </div>

  <!-- products section -->
  <div class="product-section">
    <div class="product-title">
      <app-landing-title title="PRODUCTS"></app-landing-title>
    </div>
    <div class="product-list">
      <div class="item-layout" fxLayout="row wrap" fxLayoutAlign="center">
        <div class="product-item-layout" *ngFor="let product of products" fxFlex="0 1 calc(33% - 32px)" fxFlex.lt-sm="0 1 calc(100%)" >
          <div class="product-item">
            <img src="{{product.imageUrl}}" alt="">
            <div class="name">{{product.name}}</div>
            <div class="other-name">{{product.esName}}</div>
            <div class="other-name">{{product.caName}}</div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- footer section -->
  <div class="footer-section">
    <img src="assets/imgs/logo-footer.png" alt="">
      
    <div class="address" >
      CARRE DE CARTAGENA, 328, 08025 BARCELONA
    </div>

    <div class="open-time">
      <div class="title"> OPEN</div>

      <div class="time" >
        13:00 - 16:00 + 20:00 - 23:00
      </div>
  
      <div class="day-of-week" >
        Mon Wed Thu Fri Sat Sun
      </div>
    </div>

    <div class="contact">
      <div class="insta">
        <img src="assets/imgs/insta-icon.png" alt="">
        Littleviet.barcelona
      </div>
  
      <div class="phone">
        <img src="assets/imgs/phone-icon.png" alt="">
        671 270 969 | 931 757 081
      </div>
    </div>    
  </div>
</div>

