<div class="home">
  <!-- header -->
  <div class="header">
  </div>

  <!-- logo -->
  <div class="logo">
    <img src="../assets/imgs/logo.jpg" alt="">
  </div>

  <!-- top background -->
  <div class="top-background">
    <img class="landing-page-1" src="../assets/imgs/landing-page-1.png" alt="">
  </div>

  <!-- Reservation section -->
  <div class="reservation-section">
    <div class="title">
    </div>
    <div class="content">
      <div class="item">
        <button class="booking-btn">BOOK TABLE NOW</button>
      </div>

      <div class="item open-title section-margin">OPEN</div>
      <div class="item time-title bloc-margin">13:00 - 16:00</div>
      <div class="item time-title item-margin">20:00 - 23:00</div>
      <div class="item time-title item-margin">Monday Wednesday Thursday Friday Saturday Sunday</div>
      <div class="item open-title section-margin">CLOSE</div>
      <div class="item time-title bloc-margin">Tuesday</div>
      <div class="item section-margin">
        <p class="pt-font">Make a reservation and come to enjoy a unique food.</p>
        <p class="pt-font item-margin">Your reservation will be annuled because of delay without informing us, after 15 minutes.</p>
        <p class="pt-font item-margin">We have child chairs, but please let us know if you bring baby carriage and you need space.</p>
        <p class="pt-font section-margin">For more request or information, please call:</p>
      </div>

      <div class="item section-margin">
        <div class="phone-number">671 270 969</div>
      </div>

      <div class="item item-margin">
        <div class="or-text">or</div>
      </div>
      
      <div class="item item-margin">
        <div class="phone-number">931 757 081</div>
      </div>
    </div>
  </div>

  <!-- Menu -->
  <!-- <div class="menu-section">
    <div class="title">
      <LandingSectionTitle title="MENU" fontColor="#f3eacd"></LandingSectionTitle>
    </div>
    <div class="content">
    </div>
  </div> -->
</div>