<div class="home" [ngClass]="{'noscroll': menuOpen}">
  <!-- header -->
  <div class="header">
    <div class="menu-title">
      <app-landing-title type="2" title="TAKE AWAY" color="#f3eacd"></app-landing-title>
    </div>
  </div>

  <app-cart-button></app-cart-button>

  <div #menuBtn>
    <app-menu-button [(menuOpen)]="menuOpen" [isDisplayBackground]="true"></app-menu-button>
  </div>

  <!-- Take away -->
  <div class="take-away-section">

    <!-- Product type list -->
    <div class="product-type-section" [ngClass]="{'product-type-sticky': orderDetailSticky}" >
      <div *ngIf="displayProduct && displayProduct.length > 0" class="list-product-type">
        <div *ngFor="let productType of displayProduct; let i = index" class="produc-type-item">
          <div (click)="clickProductType(i)" class="produc-type-name">{{productType.productType | uppercase}}</div>
          <div *ngIf="i == selectedProductIndex" ngClass="divider-border">
            <mat-divider class="divider-1"></mat-divider>
            <mat-divider class="divider-2"></mat-divider>
          </div>
        </div>
      </div>
    </div>

    <!-- Product type expand -->
    <div *ngIf="displayProduct && displayProduct.length > 0" class="product-type-expand" [ngClass]="{'sticky': sticky}" #productTypeNav>
      <mat-expansion-panel [(expanded)]="isExpaned" hideToggle="true">
        <mat-expansion-panel-header>
          <mat-panel-title class="title">
            {{displayProduct[selectedProductIndex].productType | uppercase}} <mat-icon>{{ isExpaned  ? 'keyboard_arrow_down' : 'keyboard_arrow_up' }}</mat-icon>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="product-type-list">
          <div (click)="clickProductType(i)" class="product-type-item" [ngClass]="{'product-type-item-active': i == selectedProductIndex}" *ngFor="let productType of displayProduct; let i = index">
            {{productType.productType | uppercase}}
          </div>
        </div>
      </mat-expansion-panel>
    </div>

    <!-- Product list -->
    <div class="product-section">
      <div class="product-list-section" #productList>
        <div *ngIf="displayProduct && displayProduct.length > 0" class="product-list-area" #productListArea>
          <div *ngFor="let product of displayProduct[selectedProductIndex].products; let i = index; last as isLast" class="product-item">
            <div class="product-item-img">
              <img [src]="product.imageUrl || 'assets/imgs/take-away/product-example.jpg'" alt="">
            </div>
            <div class="product-item-name">
              <div class="product-item-esName">{{product.esName}}</div>
              <div class="product-item-caName">{{product.caName}}</div>
              <div class="product-item-enName">{{product.name}}</div>
              <div *ngIf="product.servings && product.servings.length <= 1" class="product-item-price">{{product.servings[0].price}} &#8364;</div>
              <div *ngIf="product.servings && product.servings.length > 1" class="serving-price">
                <div *ngFor="let serving of product.servings" class="serving-add-price">
                  {{serving.name}} - {{serving.price}} &#8364;
                </div>
              </div>
            </div>
            <div class="product-item-action">
              <div *ngIf="product.servings && product.servings.length <= 1" (click)="adjustCart(product.servings[0].id, 1)" class="add-button">+</div>
              <div *ngIf="product.servings && product.servings.length > 1" class="serving-add-btn">
                <div *ngFor="let serving of product.servings" class="add-button" (click)="adjustCart(serving.id, 1)">+</div>
              </div>
            </div>
            <mat-divider *ngIf="!isLast" class="divider"></mat-divider>
          </div>
        </div>
      </div>
    </div>

    <!-- Order detail -->
    <div class="cart-detail">
      <app-cart-detail [isCheckout]="true"></app-cart-detail>
    </div>
  </div>
  
  <!-- Footer -->
  <div #footerPlaceHolder [style.height]="footerHeight > 0 ? footerHeight + 'px' : 'auto'" class="footer-place-holder"></div>
  <div #footer class="footer-area">
    <app-footer [isDisplayLogo]="false"></app-footer>
  </div>
</div>

<app-progress-spinner *ngIf="(takeAwayActionsObs | async)!.length > 0"></app-progress-spinner>

