@import '../../../assets/breakpoint/breakpoints.scss';

.home {
    max-width: 100%;
    position: relative;
    height: 276px;
    background-color: #f3eacd;
    @include breakpoint-lg-down() {
        max-width: 100%;
    }
}

.header {
    background-image: url('./../../../assets/imgs/take-away/take-way-bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    top: 0;
    z-index: 1;

    @include breakpoint-lg-down() {
        width: 100%;
        height: 145px;
    }    
}

.shopping-cart {
    position: absolute;
    top: 15px;
    right: 6%;
    color: #f3eacd;
    width: 55px;
    height: 55px;
    padding: 10px;
    border-radius: 50%;
    border: 1px solid #090f11;
    background-color: #090f11;
    cursor: pointer;

    @include breakpoint-lg-down() {
        position: fixed;
        top: 6px;
        left: 1.5%;
        width: 40px;
        height: 40px;
        padding: 8px;
        z-index: 2;
    }

    .cart {
        font-size: 35px;

        @include breakpoint-lg-down() {
            font-size: 25px;
            text-align: center;
        }
    }
}

.menu-title {
    width: 100%;
}

.take-away-section {
    display: flex;
    height: auto;
    flex-wrap: wrap;

    .product-type-section {
        width: 25%;
        display: flex;
        flex-direction: column;
        background-color: #f3eacd;
        border-right: 1px solid #c79e4f;

        @include breakpoint-lg-down() {
            display: none;
        }

        .list-product-type {
            padding: 30% 0 0 23%;

            .produc-type-item {
                margin-bottom: 30px;

                .produc-type-name {
                    font-size: 18px;
                    padding-left: 20%;
                    cursor: pointer;
                }

                .divider-border {
                    height: auto;
                    padding: 0 15% 0 10%;
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    margin-bottom: 4%;
                  
                    .divider-1 {
                      width: 90%;
                      margin-bottom: 2%;
                      background-color: #050505;
                    }
                  
                    .divider-2 {
                      position: relative;
                      align-self: flex-end;
                      width: 90%;
                      background-color: #050505;
                    }
                }
            }
        }
    }

    .product-type-expand {
        display: none;
        
        @include breakpoint-lg-down() {
            width: 100%;
            display: flex;
        }

        .mat-expansion-panel {
            width: 100%;
        }

        .mat-expansion-panel-header-title, .mat-expansion-panel-header-description {
            justify-content: center;
            font-size: 16px;
            font-weight: 600;


        }
        .title {
            display: flex;
            align-items: center;
        }

        .product-type-list {
            display: flex;
            flex-direction: column;

            .product-type-item {
                padding: 2% 0;
                font-size: 15px;
                text-align: center;
                border-bottom: 1px solid rgb(0,0,0,0.2);
            }

            .product-type-item-active {
                background-color: #e1c7a1;
                font-weight: 600;
            }
        }
    }

    .sticky {
        position: fixed;
        top: 0;
        width: 100%;
        background-color: lawngreen;
    }

    .product-section {
        display: flex;
        flex-direction: column;
        height: auto;
        width: 47%;
        background-color: #f3eacd;

        @include breakpoint-lg-down() {
            width: 100%;
        }

        .product-list-section {
            padding: 16% 0 0 3%;

            @include breakpoint-lg-down() {
                padding: 8% 0 0 3%;
            }

            .product-item {
                display: flex;
                flex-wrap: wrap;
                padding: 0 0 3% 4%;

                @include breakpoint-lg-down() {
                    padding: 0 0 3% 0;
                }

                .product-item-img {
                    width: 35%;

                    @include breakpoint-lg-down() {
                        width: 40%;
                    }

                    img {

                        @include breakpoint-lg-down() {
                            width: 100%;
                            height: auto;
                        }
                    }
                }

                .product-item-name {
                    padding-left: 3%;
                    width: 50%;
                   
                    @include breakpoint-lg-down() {
                        width: 45%;
                    }

                    .product-item-esName {
                        font-weight: 600;
                        font-size: 21px;
                        margin-bottom: 1%;

                        @include breakpoint-lg-down() {
                            font-size: 16px;
                        }
                    }

                    .product-item-caName {
                        font-size: 17px;
                        margin-bottom: 1%;

                        @include breakpoint-lg-down() {
                            font-size: 14px;
                        }
                    }

                    .product-item-enName {
                        font-size: 17px;
                        margin-bottom: 6%;
                        @include breakpoint-lg-down() {
                            font-size: 14px;
                        }
                    }

                    .product-item-price {
                        font-weight: 600;
                    }
                }

                .product-item-action {
                    width: 15%;
                    .add-button {
                        width: 38px;
                        height: 38px;
                        font-size: 35px;
                        border: solid 1px;
                        text-align: center;
                        line-height: 38px;
                        cursor: pointer;
                    }
                }

                .divider {
                    width: 105%;
                    margin-left: -10%;
                    margin-top: 6%;
                    background-color: #dcc18a;
                }
            }
        }
    }

    .order-detail-section {
        background-color: #e1c7a1;
        width: 28%;
        padding: 4% 5% 5% 4%;
        display: flex;
        flex-direction: column;
        align-items: center;

        @include breakpoint-lg-down() {
            width: 100%;
        }

        img {
            max-width: 100%;
            margin-bottom: 13%;
        }

        .order-detail-title {
            text-align: center;
            font-size: 45px;
            font-family: 'amano';
            margin-bottom: 2%;
        }

        .order-item-list {
            display: flex;
            flex-direction: column;
            width: 100%;
            margin-bottom: 8%;

            .cart-item {
                width: 100%;
                display: flex;
                flex-direction: row;
                align-content: space-between;
                flex-wrap: wrap;
                margin-bottom: 5%;

                .item-name {
                    padding-bottom: 3%;
                    width: 75%;

                    .product-item-esName {
                        font-size: 18px;
                        font-weight: 600;
                        margin-bottom: 1%;
                    }

                    .product-item-caName {
                        font-size: 15px;
                        margin-bottom: 1%;
                    }

                    .product-item-enName {
                        font-size: 15px;
                    }
                }

                .item-quantity {
                    display: flex;
                    flex-direction: column;
                    width: 25%;

                    .quantity-action {
                        display: flex;
                        flex-direction: row;
                        justify-content: flex-end;

                        .quantity-btn {
                            width: 22px;
                            height: 22px;
                            font-size: 20px;
                            line-height: 20px;
                            border-radius: 50%;
                            text-align: center;
                            border: 1px solid black;
                            cursor: pointer;
                        }

                        .quantity-number {
                            margin: 0 6px;
                            line-height: 24px;
                            font-weight: 600;
                        }
                    }

                    .price {
                        align-self: flex-end;
                        font-size: 18;
                        font-weight: 600;
                        margin-top: 20%;
                    }
                }

                .divider {
                    width: 110%;
                    margin-left: -10%;
                    background-color: #dcc18a;
                }
            }
        }

        .section-divider {
            background-color: black;
            width: 100%;
        }

        .total {
            display: flex;
            width: 100%;
            justify-content: space-between;
            margin: 4% 0;
            font-weight: 600;
            line-height: 20px;
            text-align: center;

            .total-price {
                font-size: 20px;
            }
        }

        .check-out-btn {
            margin-top: 10%;
            background-color: #f3eacd;
            border: 0px;
            padding: 10px 30px;
            font-weight: 600;
            font-size: 17px;
        }
    }
}

::ng-deep .mat-expansion-panel-header {
    width: 100% !important;
    background-color: #e1c7a1 !important;
}

::ng-deep .mat-expansion-panel-content {
    background-color: #f3eacd !important;
}

::ng-deep .mat-expansion-panel-body {
    padding: 0 !important;
}

::ng-deep .mat-expansion-panel-header.mat-expanded {
    height: 48px !important;
}
