@import '../../../assets/breakpoint/breakpoints.scss';

.home {
    max-width: 100%;
    position: relative;
    height: 276px;
    background-color: #f3eacd;
    @include breakpoint-lg-down() {
        max-width: 100%;
    }
}

.header {
    background-image: url('./../../../assets/imgs/take-away/take-way-bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    top: 0;
    z-index: 1;

    @include breakpoint-lg-down() {
        width: 100%;
        height: 145px;
    }
    
    .menu-title {
        width: 100%;
    }
}

.take-away-section {
    display: flex;
    height: auto;
    flex-wrap: wrap;
    background-color: #e1c7a1;

    .product-type-section {
        width: 25%;
        display: flex;
        flex-direction: column;
        background-color: #f3eacd;
        border-right: 1px solid #c79e4f;
        
        @include breakpoint-lg-down() {
            display: none;
        }

        .list-product-type {
            padding: 30% 0 0 23%;

            .produc-type-item {
                margin-bottom: 30px;

                .produc-type-name {
                    font-size: 18px;
                    padding-left: 20%;
                    cursor: pointer;
                }

                .divider-border {
                    height: auto;
                    padding: 0 15% 0 10%;
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    margin-bottom: 4%;
                  
                    .divider-1 {
                      width: 90%;
                      margin-bottom: 2%;
                      background-color: #050505;
                    }
                  
                    .divider-2 {
                      position: relative;
                      align-self: flex-end;
                      width: 90%;
                      background-color: #050505;
                    }
                }
            }
        }
    }

    .product-type-expand {
        display: none;
        
        @include breakpoint-lg-down() {
            width: 100%;
            display: flex;
        }

        .mat-expansion-panel {
            width: 100%;
        }

        .mat-expansion-panel-header-title, .mat-expansion-panel-header-description {
            justify-content: center;
            font-size: 16px;
            font-weight: 600;
            width: 100%;
            margin-left: 24px;
        }

        .title {
            display: flex;
            align-items: center;
        }

        .product-type-list {
            display: flex;
            flex-direction: column;

            .product-type-item {
                padding: 3% 0;
                font-size: 15px;
                text-align: center;
                border-bottom: 1px solid rgb(0,0,0,0.1);
            }

            .product-type-item-active {
                background-color: #e1c7a1;
                font-weight: 600;
            }
        }
    }

    .sticky {
        position: fixed;
        top: 0;
        width: 100%;
    }

    .product-section {
        display: flex;
        flex-direction: column;
        height: auto;
        width: 47%;
        background-color: #f3eacd;

        @include breakpoint-lg-down() {
            width: 100%;
        }

        .product-list-section {
            padding: 16% 0 0 3%;

            @include breakpoint-lg-down() {
                padding: 8% 0 0 3%;
            }

            .product-list-area {
                width: 100%;
                
                .product-item {
                    display: flex;
                    flex-wrap: wrap;
                    padding: 0 0 3% 4%;
    
                    @include breakpoint-lg-down() {
                        padding: 0 0 3% 0;
                    }
    
                    .product-item-img {
                        width: 35%;
    
                        @include breakpoint-lg-down() {
                            width: 40%;
                        }
    
                        img {
    
                            @include breakpoint-lg-down() {
                                width: 100%;
                                height: auto;
                            }
                        }
                    }
    
                    .product-item-name {
                        padding-left: 3%;
                        width: 50%;
                        display: flex;
                        flex-direction: column;
                       
                        @include breakpoint-lg-down() {
                            width: 45%;
                        }
    
                        .product-item-esName {
                            font-weight: 600;
                            font-size: 21px;
                            margin-bottom: 1%;
    
                            @include breakpoint-lg-down() {
                                font-size: 16px;
                            }
                        }
    
                        .product-item-caName {
                            font-size: 17px;
                            margin-bottom: 1%;
    
                            @include breakpoint-lg-down() {
                                font-size: 14px;
                            }
                        }
    
                        .product-item-enName {
                            font-size: 17px;
                            margin-bottom: 6%;
                            @include breakpoint-lg-down() {
                                font-size: 14px;
                            }
                        }
    
                        .product-item-price {
                            font-weight: 600;
                        }

                        .serving-price {
                            height: 100%;
                            display: flex;
                            flex-direction: column;
                            justify-content: flex-end;
                            align-content: flex-end;

                            .serving-add-price {
                                line-height: 38px;
                                margin-bottom: 1%;
                                text-align: end;
                                padding-right: 6%;
                                font-weight: 600;
                            }
                        }

                    }
    
                    .product-item-action {
                        width: 15%;

                        .add-button {
                            width: 38px;
                            height: 38px;
                            font-size: 35px;
                            border: solid 1px black;
                            text-align: center;
                            line-height: 38px;
                            cursor: pointer;
                            margin-bottom: 5%;
                        }

                        .add-button:hover {
                            background-color: black;
                            border: solid 1px black;
                            color: #f3eacd;
                        }

                        .serving-add-btn {
                            display: flex;
                            justify-content: flex-end;
                            flex-direction: column;
                            height: 100%;
                        }
                    }
    
                    .divider {
                        width: 105%;
                        margin-left: -10%;
                        margin-top: 6%;
                        background-color: #dcc18a;
                    }
                }
            }
        }
    }

    .cart-detail {
        width: 28%;
        height: 100%;

        @include breakpoint-lg-down() {
            width: 100%;
        }
    }
}

::ng-deep .mat-expansion-panel-header {
    width: 100% !important;
    background-color: #e1c7a1 !important;
}

::ng-deep .mat-expansion-panel-content {
    background-color: #f3eacd !important;
}

::ng-deep .mat-expansion-panel-body {
    padding: 0 !important;
}

::ng-deep .mat-expansion-panel-header.mat-expanded {
    height: 48px !important;
}

.noscroll { 
    @include breakpoint-lg-down() {
        // position: fixed;
        // overflow: hidden;
    }
}
