<div class="home" [ngClass]="{'noscroll': menuOpen}">
  <!-- header -->
  <div class="header">
    <div class="menu-title">
      <app-landing-title type="2" title="TAKE AWAY" color="#f3eacd"></app-landing-title>
    </div>
  </div>

  <div class="shopping-cart">
    <mat-icon class="cart" type="button" cdkOverlayOrigin
          matBadge="0" matBadgeColor="warn">
          shopping_cart
    </mat-icon>
  </div>
  <app-menu-button (isMenuOpen)="menuOpen = $event" [isDisplayBackground]="true"></app-menu-button>

  <!-- Take away -->
  <div class="take-away-section">
    <div class="product-type-section">
      <div class="list-product-type">
        <div *ngFor="let productType of displayProduct; let i = index" class="produc-type-item">
          <div class="produc-type-name">{{productType.productType | uppercase}}</div>
          <div *ngIf="i == 1" ngClass="divider-border">
            <mat-divider class="divider-1"></mat-divider>
            <mat-divider class="divider-2"></mat-divider>
          </div>
        </div>
      </div>
    </div>
    <div class="product-type-expand" [ngClass]="{'sticky': sticky}" #productTypeNav>
      <mat-expansion-panel [(expanded)]="isExpaned" hideToggle="true">
        <mat-expansion-panel-header>
          <mat-panel-title class="title">
            {{'Banh mi' | uppercase}} <mat-icon>{{isExpaned  ? 'keyboard_arrow_down' : 'keyboard_arrow_up' }}</mat-icon>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="product-type-list">
          <div class="product-type-item" [ngClass]="{'product-type-item-active': i == 2}" *ngFor="let productType of displayProduct; let i = index">
            {{productType.productType | uppercase}}
          </div>
        </div>
      </mat-expansion-panel>
    </div>
    <div class="product-section">
      <div class="product-list-section">
        <div *ngFor="let product of displayProduct[0].products; let i = index; last as isLast" class="product-item">
          <div class="product-item-img">
            <img src="assets/imgs/take-away/product-example.jpg" alt="">
          </div>
          <div class="product-item-name">
            <div class="product-item-esName">{{product.esName}}</div>
            <div class="product-item-caName">{{product.caName}}</div>
            <div class="product-item-enName">{{product.name}}</div>
            <div class="product-item-price">{{product.price}} &#8364;</div>
          </div>
          <div class="product-item-action">
            <div class="add-button">+</div>
          </div>
          <mat-divider *ngIf="!isLast" class="divider"></mat-divider>
      </div>
      </div>
    </div>
    <div class="order-detail-section">
      <div class="order-detail-title">
        My order
      </div>
      <img src="assets/imgs/take-away/order-detail-wave.png" alt="">
      <div class="order-item-list">
        <div class="cart-item" *ngFor="let item of cartDetail.products; last as isLast">
          <div class="item-name">
            <div class="product-item-esName">{{item.esName}}</div>
            <div class="product-item-caName">{{item.caName}}</div>
            <div class="product-item-enName">{{item.name}}</div>
          </div>
          <div class="item-quantity">
            <div class="quantity-action">
              <div class="quantity-btn">-</div>
              <div class="quantity-number">{{item.quantity}}</div>
              <div class="quantity-btn">+</div>
            </div>
            <div class="price">{{item.price}} &#8364;</div>
          </div>
          <mat-divider *ngIf="!isLast == true" class="divider"></mat-divider>
        </div>
      </div>
      <mat-divider class="section-divider"></mat-divider>
      <div class="total">
        <div>Subtotal</div>
        <div class="total-price">{{cartDetail.subTotalPrice}} &#8364;</div>
      </div>
      <mat-divider class="section-divider"></mat-divider>
      <div class="total">
        <div>Total</div>
        <div class="total-price">{{cartDetail.totalPrice}} &#8364;</div>
      </div>
      <mat-divider class="section-divider"></mat-divider>
      <button class="check-out-btn">CHECK OUT</button>
    </div>
  </div>

  <!-- Footer -->
  <app-footer [isDisplayLogo]="false"></app-footer>
</div>

