<div class="container">
  <img class="icon" ngClass.lt-sm="icon-lt-sm" src="{{type == '1' ? 'assets/imgs/landing-title-icon-left.png' : 'assets/imgs/landing-title-icon-yellow-left.png'}}" alt="">
  <p class="text-container" ngClass.lt-sm="text-container-lt-sm" [ngStyle]="{'color': type == '1' ? 'black' : '#f3eacd'}">
      {{ title }}
  </p>
  <img class="right icon" ngClass.lt-sm="icon-lt-sm" src="{{type == '1' ? 'assets/imgs/landing-title-icon-left.png' : 'assets/imgs/landing-title-icon-yellow-left.png'}}" alt="">
</div>