<div class="close-btn-area" mat-dialog-close>
  <mat-icon mat-icon class="close-btn">close</mat-icon>
</div>
<div *ngIf="(reservationSuccessObs | async) == null" class="reservation-confirm-dialog">
  <h1 mat-dialog-title class="reservation-confirm-title">{{ 'reservationPage.confirm.title' | translate }}</h1>
  <div class="info-reservation">
      DATE
      <span class="dotted">
        {{reservationInfo.day.getDate()}}/{{reservationInfo.day.getMonth() + 1}}/{{reservationInfo.day.getFullYear()}}
      </span>
      TIME
      <span class="dotted">
        {{reservationInfo.hour}}
      </span>
      NUMBER OF PEOPLE
      <span class="dotted">
        {{reservationInfo.noOfPeople}}
      </span>
    </div>
  <div mat-dialog-content>
    <form (ngSubmit)="onSubmit()" [formGroup]="bookReservationFG" class="reservation-form" name="hour-form">
      <!-- First name -->
      <mat-form-field class="left-field" appearance="fill">
        <mat-label>{{ 'common.firstName.label' | translate }}</mat-label>
        <input type="text" matInput formControlName="firstName" placeholder="{{ 'common.firstName.label' | translate }}">
        <mat-error *ngIf="firstNameFC.hasError('required')">
          {{ 'common.firstName.required' | translate }}
        </mat-error>
      </mat-form-field>

      <!-- Last name -->
      <mat-form-field class="right-field" appearance="fill">
        <mat-label>{{ 'common.lastName.label' | translate }}</mat-label>
        <input type="text" matInput formControlName="lastName" placeholder="{{ 'common.lastName.label' | translate }}">
        <mat-error *ngIf="lastNameFC.hasError('required')">
          {{ 'common.lastName.required' | translate }}
        </mat-error>
      </mat-form-field>

      <!-- Email -->
      <mat-form-field class="left-field" appearance="fill">
        <mat-label>{{ 'common.email.label' | translate }}</mat-label>
        <input type="email" matInput formControlName="email" placeholder="{{ 'common.email.label' | translate }}">
        <mat-error *ngIf="emailFC.hasError('email') && !emailFC.hasError('required')">
          {{ 'common.email.format' | translate }}
        </mat-error>
        <mat-error *ngIf="emailFC.hasError('required')">
          {{ 'common.email.required' | translate }}
        </mat-error>
      </mat-form-field>

      <!-- Phone number -->
      <mat-form-field class="right-field" appearance="fill">
        <mat-label>{{ 'common.phoneNumber.label' | translate }}</mat-label>
        <input type="text" appPhoneMask matInput formControlName="phoneNumber" placeholder="{{ 'common.phoneNumber.label' | translate }}">
        <mat-error *ngIf="phoneNumberFC.hasError('required')">
          {{ 'common.phoneNumber.required' | translate }}
        </mat-error>
      </mat-form-field>

       <!-- VAT -->
      <mat-form-field class="left-field" appearance="fill">
        <mat-label>{{ 'common.vat.label' | translate }}</mat-label>
        <input type="text" matInput formControlName="vat" placeholder="{{ 'common.vat.label' | translate }}">
      </mat-form-field>

      <div class="no-email">{{ 'reservationPage.confirm.description1' | translate }} 
        <span class="phone"><a href="tel:671270969">671 270 969</a></span> or 
        <span class="phone"><a href="tel:931757081">931 757 081</a></span>
      </div>

      <textarea formControlName="specificRequest" class="specific-request-field" placeholder="{{ 'common.additionalInfo.label' | translate }}"></textarea>

      <div class="condition-frame">
        <mat-checkbox required class="condition-checkbox" formControlName="acceptCondition">
          {{ 'reservationPage.confirm.description2' | translate }}
        </mat-checkbox>
      </div>

      <div class="data-frame">
        <mat-checkbox required class="data-checkbox" formControlName="consentInfoConidtion">
          {{ 'reservationPage.confirm.description3' | translate }}
        </mat-checkbox>
      </div>

      <div class="sms-frame">
        <mat-checkbox class="sms-checkbox">
          {{ 'reservationPage.confirm.description4' | translate }}
        </mat-checkbox>
      </div>

      <button [disabled]="!bookReservationFG.valid" type="submit" class="reserve-btn"
        [ngClass]="!bookReservationFG.invalid ? 'reserve-btn-active': 'reserve-btn-inactive'">
        {{ 'reservationPage.confirm.reserve' | translate }}
      </button>
    </form>

    <div class="reservation-policy">
      <div class="redeem">{{ 'reservationPage.confirm.description5' | translate }}</div>
      <div class="bold">{{ 'common.policy.description1' | translate }}</div>
      <div>{{ 'common.policy.description2' | translate }}</div>
      <div><span class="bold">{{ 'common.policy.responsible' | translate }}</span> Little Viet 
        <span class="see-more">({{ 'common.seeMore' | translate }})</span>
      </div>
      <div><span class="bold">{{ 'common.policy.purposes' | translate }}</span> {{ 'common.policy.description3' | translate }}</div>
      <div>{{ 'common.policy.description4' | translate }}</div>
      <div>{{ 'common.policy.description5' | translate }}</div>
      <div>{{ 'common.policy.description6' | translate }} <span class="see-more">({{ 'common.seeMore' | translate }})</span></div>
      <div class="bold">{{ 'common.policy.legitimation' | translate }}</div>
      <div>{{ 'common.policy.description7' | translate }} <span class="see-more">({{ 'common.seeMore' | translate }})</span></div>
      <div>{{ 'common.policy.description8' | translate }}</div>
      <div>{{ 'common.policy.description9' | translate }}</div>
      <div class="bold">{{ 'common.policy.assignments' | translate }}</div>
      <div>{{ 'common.policy.description10' | translate }} <span class="see-more">({{ 'common.seeMore' | translate }})</span></div>
      <div class="bold">{{ 'common.policy.assignments' | translate }}</div>
      <div>{{ 'common.policy.description11' | translate }} <span class="see-more">({{ 'common.seeMore' | translate }})</span></div>
    </div>
  </div>
</div>

<div *ngIf="(reservationSuccessObs | async) != null && (reservationSuccessObs | async)" class="f-modal-alert">
  <div class="f-modal-icon f-modal-success animate">
    <span class="f-modal-line f-modal-tip animateSuccessTip"></span>
    <span class="f-modal-line f-modal-long animateSuccessLong"></span>
    <div class="f-modal-placeholder"></div>
    <div class="f-modal-fix"></div>
  </div>
  <div class="title">{{ 'reservationPage.success' | translate }}</div>
</div>

<app-progress-spinner *ngIf="(takeAwayActionsObs | async)!.length > 0"></app-progress-spinner>
